{% load form_helper %}
{% load i18n %}
{% load away %}

<div class="submit-inquiry-form">
    <grid>
        <div class="gc-12-wide">
            <div class="form-wrapper">
                <form method="post" action="#">
                    <div class="input-wrapper">
                        XXXXXXXXXXXXX
                    </div>
                </form>
            </div>
        </div>
    </grid>
</div>