{% load i18n %}


<nav class="actions-nav">
    <img src="{{ client.background.image.desktop.url }}" alt="" class="actions-nav__bg">

    <div class="actions-nav__container">
        <ul class="nav-list">
{#            {% if client.current_package and client.current_subscription.summary_hours > 0 and client.active_current_subscription %}#}
                {% for option in client.current_package.options.all %}
                    {% if client.current_subscription.plan_active and option.popup == 'plan' %}
                        {% include 'portal/parts/nav.html' %}
                    {% elif client.current_subscription.consultation_active and option.popup == 'consultation' %}
                        {% include 'portal/parts/nav.html' %}
                    {% elif not option.popup == 'plan' and not option.popup == 'consultation' %}
                        {% include 'portal/parts/nav.html' %}
                    {% endif %}
                {% endfor %}
{#            {% endif %}#}

        </ul>
        {% if request.user.is_authenticated %}
            <div class="change-background-button">{% trans 'change background' %}</div>
        {% endif %}

    </div>

</nav>
