<nav class="portal-header-tab {{ classes }}">
    <div class="grid-block">
        <ul class="tabs-list">
            <li class="tab tab-inquiries" data-tab="inquiries">
                <span>{{ _('Query Responses') }}</span>

                {% include 'portal/parts/count_tab.html' with count=new_counts.inquiries_new_count %}
            </li>
            <li class="tab tab-communications" data-tab="communications">
                <span>{{ _('Past Communications') }}</span>

                {% include 'portal/parts/count_tab.html' with count=new_counts.communications_new_count %}
            </li>
            <li class="tab tab-resources" data-tab="resources">
                <span>{{ _('Business Resources') }}</span>

                {% include 'portal/parts/count_tab.html' with count=new_counts.resources_new_count %}
            </li>
            <li class="tab" data-tab="faq"><span>{{ _('FAQ') }}</span></li>
            <li class="tab" data-tab="payments"><span>{{ _('Payments') }}</span></li>
        </ul>
    </div>
</nav>
