{% load i18n %}


<div class="inquiry">
    <div class="updated">
        <span class="date">{{ inquiry.updated|date:'j/n/Y' }}</span>
        <span class="time">{{ inquiry.updated|time:'H:i A' }}</span>
    </div>
    <div class="body">
        <div class="category">
            <span><b>{% trans 'Category' %}: </b></span>
            <span>{{ inquiry.category }}</span>
        </div>
        <div class="question">
            <span><b>{% trans 'Question' %}: </b></span>
            <span>{{ inquiry.question }}</span>
        </div>
        <div class="answer">
            <span><b>{% trans 'Answer' %}: </b></span>
            <span>{{ inquiry.answer_inquiry.answer }}</span>
        </div>
    </div>
</div>