<header class="portal-mobile-header">
  <div class="logo"></div>
  <div class="grid-block">
    <div class="mobile-header-content">
      <div id="mobile-menu-button" class="mobile-menu-button">
        <div class="burger"></div>
      </div>
    </div>
  </div>
</header>