<div class="menu mobile-menu portal-mobile-menu">
{#    <div class="grid-block">#}
        <div id="mobile-menu-button-opened" class="mobile-menu-button">
            <div class="burger"></div>
        </div>
{#    </div>#}

    <div class="mobile-menu-inner">
        {% include 'portal/parts/user_controls.html' %}
        {% include 'portal/parts/header_tab.html' with classes="mobile-tabs" %}
        <div class="mobile-menu-container">
            <div class="grid-block">
                {% include 'portal/parts/actions_nav.html' %}
            </div>
        </div>
    </div>
</div>
