<li class="nav-{{ option.icon }} nav-item option {% if option.view == 2 %}option--gold{% endif %} {% if option.view == 3 %}option--platinum{% endif %}">
    {% if option.type_option == 2 or option.type_option == 3 %}
        <a {% if option.type_option == 2  %}href="{{ option.url }}" target="_blank" {% else %}href="mailto:{{ option.email }}"{% endif %} class="nav-link">
            <span class="icon"></span>
            <span>{{ option.name }}</span>
        </a>
    {% else %}
        <div class="nav-link" data-popup="{{ option.popup }}">
            <span class="icon"></span>
            <span>{{ option.name }}</span>
        </div>
    {% endif %}
</li>