{% load i18n %}


<div class="user-controls">
    <div class="grid-block">

        <div class="controls-panel">
            <ul class="controls-list">
                <li class="controls-photo controls-item">
                    {% include 'portal/parts/photo_header.html' %}
                </li>
                <li class="controls-settings controls-item">
                    <a href="{% url 'clients:profile' %}" class="controls-link">
                        <span>{% trans 'settings' %}</span>
                    </a>
                </li>
                <li class="controls-logout controls-item">
                    <a href="{% url 'clients:logout' %}" class="controls-link">
                        <span>{% trans 'log out' %}</span>
                    </a>
                </li>
            </ul>
            <div class="controls-box">
                <div class="controls-package controls-item">
                <span class="controls-link">
                    <span class="current-package">
                        <span>{% trans 'package' %}: </span>
                        {% if client.active_current_subscription %}
                            <span class="controls-link__val">{{ client.current_package.name }}</span>
                        {% endif %}
                    </span>
                    <a href="{{ prices_link }}">{% trans 'change' %}</a>
                </span>
                </div>
                <div class="controls-hours controls-item">
                    <a href="#" class="controls-link"
                       data-tt="You have {{ client.current_subscription.summary_hours }} counsel hours left and {{ client.current_subscription.summary_days }} days<br>
                    remaining until next cycle. *hours are reflected<br>
                    from the previous business day">
                        <span>hours remaining: </span>
                        <span class="controls-link__val">
                            {% if client.current_subscription and client.active_current_subscription %}
                                {{ client.current_subscription.summary_hours }}
                            {% else %}
                                0
                            {% endif %}
                        </span>

                        {% if client.current_package.times_package %}
                            <span class="open-buy-hours-popup hours-plus"></span>
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>