{% load i18n %}
{% load static %}




<div class="photo-block">
    <div class="client-photo">
        {% if client.photo %}
            <img src="{{ client.photo.small.url }}" alt="">
        {% else %}
            <img src="{% static 'clients/img/default_40x40.png' %}" alt="">
        {% endif %}
    </div>
</div>




