{% extends 'layout.html' %}

{% load pipeline_plus %}
{% load footer %}


{% block static_head %}
    {{ block.super }}
    {% stylesheet 'portal' %}
    {% stylesheet 'clients' %}
{% endblock static_head %}

{% block static_js %}
    {{ block.super }}
    {% javascript 'clients' %}
    {% javascript 'profile' %}
{% endblock static_js %}

{#{% block bodyclass %}body-fixed-height{% endblock bodyclass %}#}
{% block header %}
{% endblock header %}

{% block content %}

    <div class="container">
        {% include 'portal/parts/mobile_menu.html' %}
        {% include 'portal/parts/sidebar.html' %}

        <main>
            {% include 'portal/parts/mobile_header.html' %}


            <div class="content-wrapper" id="login">
                <div class="content">
                    {% block page %}{% endblock %}
                </div>
            </div>
        </main>
    </div>

{% endblock content %}

{% block footer_content %}
    {% portal_footer %}
{% endblock footer_content %}