{% load i18n %}
{% load static %}


<div class="photo-block">
    <div class="client-photo">
        {% if client.photo %}
            <img src="{{ client.photo.normal.url }}" alt="">
        {% else %}
            <img src="{% static 'clients/img/default_80x80.png' %}" alt="">
        {% endif %}
    </div>
    <a href="#" id="upload-avatar"><span class="upload-avatar__icon"></span> {% trans 'Edit Photo' %}</a>
</div>




