@import 'mixins';
$logo_width: 380px;
$logo_height: 160px;

#billing {
  position: relative;
  padding-bottom: 130px;
  background-color: #302b30;

  @include media_interval(0, $media560) {
    position: relative;
    z-index: 2;
    padding-bottom: 50px;
    background: $block_bg;
    background-image: url('/static/img/lines.png');
    background-repeat: repeat;
  }

  .billing-title-main {
    font-weight: 800;
    line-height: 1.1;
    position: relative;
    z-index: 2;
    padding-top: 6px;
    padding-bottom: 42px;
    text-align: left;
    color: $white;
    @include font_title();
    @include fontsize_h2();

    @include media_interval(0, $media768) {
      @include font-size(30px, 36px);
    }
    @include media_interval($media400, $media560) {
      padding-top: 40px;
      padding-bottom: 30px;
    }
    @include media_interval(0, $media400) {
      padding-top: 45px;
      padding-bottom: 10px;
    }
  }

  .billing-list {
    @include flexbox;
    @include flex-flow(row wrap);

    &:before {
      position: absolute;
      z-index: 1;
      bottom: -177%;
      left: 0;
      width: 100%;
      height: 3000px;
      content: ' ';
      background-image: linear-gradient(-1deg, #ae3138, #ae3138);
      @include transform(skew(0deg, -46deg) translateY(65.5%));

      @include media_interval($media520, $media560) {
        bottom: -126%;
      }
      @include media_interval($media560, $media600) {
        bottom: -150%;
      }
      @include media_interval($media400, $media440) {
        bottom: -138%;
      }
      @include media_interval($media440, $media480) {
        bottom: -137%;
      }
      @include media_interval($media480, $media520) {
        bottom: -129%;
      }
      @include media_interval(0, $media400) {
        bottom: -150%;
      }
    }

    .billing-item {
      font-weight: 800;
      position: relative;
      z-index: 10;
      display: flex;
      overflow: hidden;
      box-sizing: border-box;
      width: 380px;
      height: 160px;
      padding: 45px 29px 45px 121px;
      color: $white;
      background: $block_bg;
      background-image: url('/static/img/lines.png');
      background-repeat: repeat;
      @include font_default();
      @include font-size(18px, 23px);

      @include media_interval($media560, $media768) {
        padding: 45px 20px 45px 90px;
        @include font-size(14px, 21px);
        @include flex-columns(2, 20px, 20px);
      }
      @include media_interval($media768, $media1024) {
        padding: 45px 20px 45px 110px;
        @include font-size(15px, 21px);
        @include flex-columns(2, 20px, 20px);
      }
      @include media_interval($media1024, 0) {
        @include flex-columns(3, 20px, 20px);
      }
      @include media_interval(0, $media560) {
        font-weight: 700;
        height: 75px;
        margin-bottom: 2px;
        padding: 0 0 0 53px;
        background: none;
        @include font-size(15px, 21px);
        @include flex-columns(1, 20px);
      }
      @include media_interval($media1024, $media1330) {
        padding: 45px 20px 45px 110px;
        @include font-size(15px, 21px);
      }

      align-items: center;

      &:before {
        position: absolute;
        z-index: 2;
        top: 50px;
        left: 37px;
        width: 60px;
        height: 60px;
        content: ' ';
        background: $sprite_a_url no-repeat -6px -178px;

        @include media_interval($media560, $media768) {
          left: 16px;
        }
        @include media_interval(0 $media560) {
          left: -8px;
        }
        @include media_interval(0, $media560) {
          top: 5px;
          @include transform(scale(.7));
        }
      }

      &.arrow {
        &:before {
          left: 36px;
          background: $sprite_a_url no-repeat -67px -178px;

          @include media_interval($media560, $media768) {
            left: 16px;
          }
          @include media_interval(0, $media560) {
            top: -1px;
            left: -8px;
          }
        }
      }

      &.coin {
        &:before {
          background: $sprite_a_url no-repeat -132px -178px;

          @include media_interval(0, $media560) {
            top: -5px;
          }
        }
      }

      &.hands {
        &:before {
          top: 48px;
          left: 34px;
          background: $sprite_a_url no-repeat -193px -178px;

          @include media_interval($media560, $media768) {
            left: 16px;
          }
          @include media_interval(0, $media560) {
            top: 11px;
            left: -10px;
          }
        }
      }

      &.money {
        &:before {
          background: $sprite_a_url no-repeat -258px -178px;

          @include media_interval($media560, $media768) {
            left: 16px;
          }
          @include media_interval(0, $media560) {
            top: 4px;
            left: -8px;
          }
        }
      }

      &.hours {
        &:before {
          top: 48px;
          left: 39px;
          background: $sprite_a_url no-repeat -323px -178px;

          @include media_interval($media560, $media768) {
            left: 16px;
          }
          @include media_interval(0, $media560) {
            top: -6px;
            left: -8px;
          }
        }
      }
    }
  }
}
