@import 'mixins';

#categories {
  padding-top: 30px;
  padding-bottom: 101px;
  background-color: #302b30;

  @include media_interval(0, $media768) {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .categories-title-main {
    font-weight: 800;
    line-height: 1.1;
    position: relative;
    padding-top: 37px;
    padding-bottom: 42px;
    text-align: left;
    letter-spacing: -.1px;
    color: $white;
    @include font_title();
    @include fontsize_h2();

    @include media_interval(0, $media768) {
      padding-bottom: 30px;
      @include font-size(30px, 36px);
    }

    &:before {
      position: absolute;
      top: -100px;
      right: 32px;
      display: flex;
      width: 860px;
      height: 350px;
      content: ' ';
      background: $sprite_a_url no-repeat 30px -1149px;
      @include opacity(.8);

      @include media_interval(0, $media783) {
        display: none;
        background: none!important;
      }
    }
  }

  .price-column {
    @include media_interval($media400, $media768) {
      margin-bottom: 40px;
    }
    @include media_interval(0, $media400) {
      margin-bottom: 36px;
    }
  }

  .categories-title {
    @include media_interval($media400, $media1024) {
      padding-left: 70px;
    }
    @include media_interval(0, $media400) {
      width: 100%;
      padding-left: 50px;
    }

    .categories-title-1 {
      font-weight: 800;
      position: relative;
      display: inline-block;
      width: 25%;
      color: $white;
      @include font-size(24px, 27px);
      @include font_title();

      @include media_interval($media768, $media1024) {
        @include font-size(22px);
      }
      @include media_interval(0, $media768) {
        top: 5px;
        right: -18px;
        @include font-size(20px, 24px);
      }

      &:after {
        position: absolute;
        top: 2px;
        left: -59px;
        display: inline-block;
        width: 50px;
        height: 50px;
        content: ' ';
        background: $sprite_a_url no-repeat -100px -126px #c2242d;
      }

      &.startup:after {
        top: 2px;
        left: -69px;

        @include media_interval(0, $media768) {
          top: -1px;
          left: -68px;
        }
      }

      &.growth:after {
        top: 2px;
        left: -68px;
        background: $sprite_a_url no-repeat -1px -126px #c2242d;

        @include media_interval(0, $media768) {
          top: -1px;
          left: -68px;
        }
      }

      &.expansion:after {
        top: 2px;
        left: -68px;
        background: $sprite_a_url no-repeat -51px -126px #c2242d;

        @include media_interval(0, $media768) {
          top: -1px;
          left: -68px;
        }
      }
    }
  }

  .categories-list {
    padding-top: 20px;

    @include media_interval(0, $media768) {
      padding-top: 20px;
    }

    ul li {
      font-weight: 600;
      line-height: 20px;
      position: relative;
      margin-bottom: 12px;
      padding-left: 13px;

      @include media_interval(0, $media400) {
        left: -38px;
        margin-bottom: 8px;
      }

      &:before {
        position: absolute;
        left: 0;
        content: '•';

        @include media_interval($media400, $media768) {
          left: -24px;
        }
        @include media_interval(0, $media400) {
          left: -12px;
        }
      }
    }

    .categories-list-item {
      font-size: 15px;
      font-weight: 600;
      line-height: 25px;
      position: relative;
      margin-bottom: 8px;
      margin-left: 13px;
      text-align: left;
      color: $text_color;
      @include font-default();

      @include media_interval($media768, $media1024) {
        @include font-size(13px);
      }
      @include media_interval(0, $media400) {
        left: -35px;
        margin-bottom: 0;
      }
    }
  }
}
