@import 'mixins';

#contact {
  position: relative;
  padding-bottom: 153px;
  background-color: #302b30;

  @include media_interval(0, $media560) {
    padding-bottom: 36px;
    background: $block_bg;
    background-image: url('/static/img/lines.png');
  }

  .contact-title-main {
    font-weight: 800;
    position: relative;
    z-index: 3;
    text-align: left;
    letter-spacing: -.5px;
    color: $white;
    @include font_title();
    @include font-size(80px, 80px);

    @include media_interval($media768, $media1330) {
      @include font-size(70px, 70px);
    }
    @include media_interval($media560, $media768) {
      @include font-size(50px, 50px);
    }
    @include media_interval(0, $media560) {
      padding-top: 16px;
      @include font-size(30px, 36px);
    }
  }

  .phone-wrapper-contact {
    position: relative;
    z-index: 3;
    padding-top: 43px;

    @include media_interval(0, $media400) {
      padding-top: 17px;
    }

    .top-phone-contact {
      font-weight: bold;
      margin-left: 10px;
      cursor: pointer;
      letter-spacing: -.2px;
      color: $white;
      @include transition(all .3s ease-in-out);
      @include fontsize_default();
      @include font-size(32px, 40px);

      @include media_interval(0, $media1024) {
        @include font-size(30px, 40px);
      }
      @include media_interval(0, $media560) {
        margin-left: 15px;
      }

      &:hover {
        @include opacity(.8);
        @include transition(all .3s ease-in-out);
      }

      &:before {
        position: relative;
        top: 3px;
        right: 11px;
        display: inline-block;
        width: 28px;
        height: 28px;
        content: ' ';
        background: $sprite_a_url no-repeat -1px -80px #c2242d;

        @include media_interval(0, $media560) {
          right: 14px;
          background-color: $block_bg;
        }
      }
    }

    .bottom-phone-contact {
      position: relative;
      bottom: 3px;
      left: 44px;
      display: inherit;
      max-width: 45%;
      text-align: left;
      color: $white;
      @include font_default();
      @include opacity(.9);
      @include font-size(15px, 28px);

      @include media_interval(0, $media560) {
        left: 46px;
      }
    }
  }

  .form {
    position: relative;
    padding-top: 50px;

    @include media_interval(0, $media400) {
      padding-top: 19px;
    }

    &:before {
      position: absolute;
      z-index: 1;
      top: -20px;
      right: -100px;
      display: flex;
      width: 860px;
      height: 350px;
      content: ' ';
      background: $sprite_a_url no-repeat 28px -362px;
      @include opacity(.8);

      @include media_interval(0, $media560) {
        display: none;
        background: none!important;
      }
    }

    &:after {
      position: absolute;
      z-index: 1;
      top: -100px;
      right: 291px;
      display: flex;
      width: 495px;
      height: 350px;
      content: ' ';
      background: $sprite_a_url no-repeat -5px -748px;
      @include opacity(.8);

      @include media_interval(0, $media560) {
        display: none;
        background: none!important;
      }
    }

    .field {
      box-sizing: border-box;
      width: 100%;
      max-width: 100%;
      vertical-align: top;
    }

    .left-column {
      position: relative;
      z-index: 10;
      display: inline-block;
      width: 37%;
      margin-right: 1.4%;

      @include media_interval(0, $media584) {
        width: 100%;
      }
    }

    .right-column {
      position: relative;
      z-index: 10;
      display: inline-block;
      width: 61.5%;
      vertical-align: top;

      @include media_interval(0, $media584) {
        width: 100%;
        margin-top: 8px;
      }
    }

    .field-message {
      width: 100%;

      #id_message {
        height: 166px;

        @include media_interval(0, $media400) {
          height: 136px;
        }
      }
    }

    .control {
      font-weight: 600;
      box-sizing: border-box;
      max-width: 100%;
      text-align: left;
      color: $form_text;
      background-color: $white;
      @include opacity(.7);
      @include transition(all .3s ease-in-out);
      @include font-size(15px, 30px);
      @include fontsize_default();

      @include media_interval(0, $media375) {
        @include font-size(16px);
      }

      &:hover {
        @include opacity(1);
        @include transition(all .3s ease-in-out);
      }
    }

    .btn-contact {
      z-index: 3;
      width: 100%;
      margin-top: 17px;
      padding: 10px 17px 12px 21px;
      text-align: center;

      @include media_interval(0, $media400) {
        margin-top: 10px;
      }
    }

    input,
    textarea {
      width: 100%;
      padding: 10px 12px 12px 21px;
      cursor: pointer;
      background-color: transparent;

      &:focus {
        color: $btn_text_dark;
        @include opacity(1);
        @include transition(1s);
      }

      &:active {
        color: $btn_text_dark;
        @include opacity(1);
        @include transition(1s);
      }
    }
  }
}

@include placeholder {
  color: $form_text;
}

.captcha {
  margin-top: 5px;
  color: $white;
  position: absolute;
  z-index: 1;

  @include fontsize_default;

  a {
    @include opacity(.85);

    &:hover {
      @include opacity(.7);
    }

    &, &:hover {
      @include transition(opacity .15s ease);
    }
  }
}