@import 'mixins';

#hero {
  padding-bottom: 26px;

  @include media_interval(0, $media768) {
    padding-bottom: 0;
  }

  .fix-width {
    @include media_interval($media560, $media768) {
      max-width: 55%;
    }
  }

  .home-wrapper {
    position: relative;

    .btn-hero-red {
      box-sizing: border-box;
      width: 47%;
      margin-top: 34px;
      padding: 9px 0 12px 0;
      outline: 6px solid #c2242d;
      outline-offset: -6px;
      background: $btn_red;
      @include transition(all .3s ease-in-out);

      @include media_interval(0, $media560) {
        margin-top: 18px;
        padding: 4px 0 6px 0;
      }

      &:hover {
        background: #9e171f;
        @include transition(all .3s ease-in-out);
      }
    }

    .btn-hero-white {
      width: 47%;
      margin-top: 34px;
      margin-right: 6%;
      padding: 9px 0 12px 0;
      color: $btn_text_dark;
      outline: 6px solid $white;
      outline-offset: -6px;
      background: $white;
      @include transition(all .3s ease-in-out);

      @include media_interval(0, $media560) {
        margin-top: 18px;
        padding: 4px 0 6px 0;
      }

      &:hover {
        background: #d9d9d9;
        @include transition(all .3s ease-in-out);
      }
    }
  }

  .title-h1-main {
    font-weight: 900;
    line-height: .87;
    position: relative;
    color: $white;
    @include font_title();
    @include fontsize_h1();

    @include media_interval($media768, $media1200) {
      @include font-size(70px, 65px);
    }
    @include media_interval(0, $media768) {
      padding-top: 26px;
      @include font-size(60px, 55px);
    }

    &:before {
      position: absolute;
      z-index: -1;
      top: -46px;
      left: -130px;
      display: flex;
      width: 860px;
      height: 350px;
      content: ' ';
      background: $sprite_a_url no-repeat 28px -362px;
      @include opacity(.8);

      @include media_interval(0, $media1200) {
        display: none;
        background: none!important;
      }
    }

    &:after {
      position: absolute;
      z-index: -1;
      top: -133px;
      left: -150px;
      display: flex;
      width: 495px;
      height: 350px;
      content: ' ';
      background: $sprite_a_url no-repeat -5px -748px;
      @include opacity(.8);

      @include media_interval(0, $media1200) {
        display: none;
        background: none!important;
      }
    }
  }

  .title-desc {
    font-weight: 800;
    line-height: 1.96;
    padding-bottom: 6px;
    color: $white;
    @include font_title();
    @include fontsize_h3();

    @include media_interval($media1024, $media1300) {
      @include font-size(21px);
    }
    @include media_interval($media768, $media1024) {
      @include font-size(21px);
    }
    @include media_interval(0, $media768) {
      padding-top: 79px;
      padding-bottom: 3px;
      padding-left: 0;
      @include font-size(20px, 47px);
    }
  }

  .text-main {
    padding-bottom: 14px;
    @include opacity(.9);

    @include media_interval(0, $media768) {
      padding-left: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  .phone-wrapper {
    padding-bottom: 38px;

    @include media_interval(0, $media768) {
      display: none;
    }

    .top-phone {
      font-weight: bold;
      position: relative;
      top: 2px;
      left: 11px;
      cursor: pointer;
      letter-spacing: -.5px;
      color: $white;
      @include transition(all .3s ease-in-out);
      @include fontsize_default();
      @include font-size(32px, 40px);

      @include media_interval($media1024, $media1300) {
        @include font-size(28px);
      }

      &:before {
        position: relative;
        bottom: -2px;
        left: -12px;
        display: inline-block;
        width: 28px;
        height: 28px;
        content: ' ';
        background: $sprite_a_url no-repeat -1px -80px #c2242d;
      }

      &:hover {
        @include opacity(.7);
        @include transition(all .3s ease-in-out);
      }
    }

    .bottom-phone {
      position: relative;
      bottom: 2px;
      left: 43px;
      display: inherit;
      text-align: left;
      color: $white;
      @include opacity(.9);
      @include font-size(15px, 28px);
      @include font_default();
    }
  }

  .down-arrow {
    position: absolute;
    top: 300px;
    left: -23px;

    @include media_interval($media1024, $media1200) {
      top: 180px;
    }
  }

  .ca3-scroll-down-arrow:after {
    position: absolute;
    right: 36px;
    display: flex;
    width: 12px;
    height: 90px;
    content: '';
    -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
    -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
    animation: ca3_fade_move_down 2s ease-in-out infinite;
    color: $white;
    background-image: url(/static/img/Sprite_A.svg);
    background-repeat: no-repeat;
    background-position: -500px -745px !important;

    align-items: flex-start;
    justify-content: center;
  }

  .ca3-scroll-down-link {
    position: absolute;
    z-index: 100;
    top: 30px;
    left: 6.3%;
    display: inline-block;
    width: 80px;
    height: 90px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;

    @include media_interval(0, $media1024) {
      display: none;
    }

    @-webkit-keyframes ca3_fade_move_down {
      0% {
        -webkit-transform: translate(0,-20px);
        opacity: 0;
      }

      50% {
        opacity: 1;
      }

      100% {
        -webkit-transform: translate(0,20px);
        opacity: 0;
      }
    }

    @-moz-keyframes ca3_fade_move_down {
      0% {
        -moz-transform: translate(0,-20px);
        opacity: 0;
      }

      50% {
        opacity: 1;
      }

      100% {
        -moz-transform: translate(0,20px);
        opacity: 0;
      }
    }

    @keyframes ca3_fade_move_down {
      0% {
        transform: translate(0,-20px);
        opacity: 0;
      }

      50% {
        opacity: 1;
      }

      100% {
        transform: translate(0,20px);
        opacity: 0;
      }
    }

    &:hover {
      &:after {
        animation-name: none;
      }
    }
  }
}
