@import 'mixins';

#prices {
  position: relative;
  padding-bottom: 60px;

  @include media_interval(0, $media768) {
    padding-bottom: 51px;
  }

  &:before {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 24%;
    content: '';
    background-color: #251f25;

    @include media_interval(0, $media2200) {
      height: 40%;
    }
  }

  .fix-width {
    @include media_interval($media560, $media768) {
      max-width: 55%;
    }
  }

  .padding-none {
    @include media_interval(0, 768px) {
      padding: 0 0;
    }
  }

  .price-img {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    @include transition(transform 2s);
  }

  .prices-title {
    font-weight: 800;
    line-height: 1.1;
    padding-top: 11px;
    padding-bottom: 15px;
    text-align: left;
    color: $white;
    @include font_title();
    @include fontsize_h2();

    @include media_interval(0, $media768) {
      margin-top: 44px;
      @include font-size(30px, 36px);
    }
  }

  .text-price-top {
    letter-spacing: .1px;
  }

  .text-price-bottom {
    font-weight: 800;
    line-height: 1.87;
    text-align: left;
    letter-spacing: .6px;
    color: $white;
    @include fontsize_default();
    @include font_title();

    @include media_interval(0, $media560) {
      font-weight: 900;
    }
  }

  .prices-photo-container {
    display: flex;
    margin-top: 50px;

    @include media_interval(0, 770px) {
      margin-top: 30px;
    }

    flex-flow: row wrap;
  }

  .about-price-top {
    overflow: hidden;
    cursor: pointer;

    .price-photo {
      position: relative;

      @include  media_interval($media480, 0) {
        &:hover .price-img {
          @include transform(scale(1.1));
        }
      }
    }
  }

  .packages-block {
    position: relative;
    overflow: hidden;

    @include  media_interval($media768, 0) {
      @include flex-columns(3, 20px, 27px);
    }
    @include media_interval(0, $media783) {
      margin-right: 8px;
      margin-left: 8px;
    }

    .photo-img {
      width: 100%;
      min-width: 32%;
      height: auto;
      min-height: 32%;
      @include centrizeImage(0, 100%);
    }

    .cuarter-show {
      font-size: 18px;
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      padding-top: 6px;
      cursor: pointer;
      transition: all .3s ease-in-out;
      text-align: center;
      outline: 6px solid #d4a964;
      outline-offset: -6px;
      background-color: #d4a964;

      @include media_interval($media783, 0) {
        display: none;
      }

      justify-content: center;

      &:hover {
        color: $white;
        background: #a57835;
        @include transition(all .3s ease-in-out);
      }

      &:after {
        font-weight: 400;
        content: 'Show details';
        white-space: pre-wrap;
        letter-spacing: 1.1px;
        color: #251f25;
        @include transition(all .3s ease-in-out);
        @include font_default();
        @include font-size(15px, 28px);
      }

      &:hover:after {
        color: $white;
        @include transition(all .3s ease-in-out);
      }
    }

    .cuarter-show-silver {
      outline: 6px solid #595959;
      outline-offset: -6px;
      background: #595959;
      @include transition(all .3s ease-in-out);

      @extend .cuarter-show;

      &:hover {
        background: #444343;
        @include transition(all .3s ease-in-out);
      }

      &:after {
        color: $white;
      }
    }

    .cuarter-show-platinum {
      outline: 6px solid #635f6c;
      outline-offset: -6px;
      background: #635f6c;
      @include transition(all .3s ease-in-out);

      @extend .cuarter-show;

      &:hover {
        background: #4d4956;
        @include transition(all .3s ease-in-out);
      }

      &:after {
        color: $white;
      }
    }

    .cuarter {
      font-size: 18px;
      position: absolute;
      top: 30px;
      left: -150px;
      display: flex;
      box-sizing: border-box;
      width: 200px;
      height: 200px;
      padding-top: 20px;
      text-align: center;
      background-color: #d4a964;
      @include transform(rotate(-45deg) translate(64%, -43%));

      @include media_interval($media768, $media1024) {
        top: 20px;
        left: -158px;
      }
      @include media_interval(0, $media480) {
        top: 20px;
        left: -158px;
      }

      align-items: flex-end;
      justify-content: center;

      &:after {
        font-weight: bold;
        padding-bottom: 15px;
        content: 'most \a popular';
        white-space: pre-wrap;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        color: black;
        @include font-size(10px, 12px);

        @include media_interval($media768, $media1024) {
          @include font-size(8px);
        }
        @include media_interval(0, $media480) {
          @include font-size(8px);
        }
      }
    }
  }

  .price-mo {
    top: 34.4%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    @include price_mo();

    @include media_interval(0, $media783) {
      top: 20%;
    }
  }

  .price-title {
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    @include price_title();

    @include media_interval(0, $media1260) {
      @include font-size(40px);
    }
    @include media_interval(0, $media783) {
      top: 45%;
    }
  }

  .btn-green {
    position: absolute;
    z-index: 100;
    top: 68.8%;
    left: 50%;
    padding: 4px 56px 7px 56px;
    @include transform(translate(-50%, -50%));

    @include media_interval(0, $media1024) {
      padding: 0 56px;
    }
  }
}

.about-price {
  .price-list {
    position: relative;
    margin-left: 36px;
    padding-top: 27px;

    @include media_interval(0, $media783) {
      display: none;

      &.active {
        display: block;
        padding-right: 10px;
      }
    }

    ul li {
      font-weight: 600;
      line-height: 26px;
      margin-bottom: 13px;

      &:before {
        position: absolute;
        left: -24px;
        content: '•';
      }
    }

    strong {
      font-weight: 800;
    }

    .item-fat {
      font-weight: 800;
    }
  }
}
