@import 'mixins';

#service {
  position: relative;
  padding-bottom: 80px;
  background-color: #302b30;

  @include media_interval(0, $media400) {
    padding-bottom: 55px;
  }

  .img-block {
    position: relative;
    display: flex;
    max-width: 1200px;
    max-height: 400px;
    background-color: $form_text;

    @include media_interval(0, $media768) {
      max-height: 470px;
      background-color: transparent;
    }
  }

  .left-block {
    position: relative;
    overflow: hidden;
    width: 70%;
    height: 400px;

    @include media_interval(0, $media768) {
      width: 100%;
      height: 470px;
    }

    &:after {
      position: absolute;
      top: 0;
      right: -1px;
      content: ' ';
      border-bottom: 400px solid $form_text;
      border-left: 400px solid transparent;

      @include media_interval($media400, $media768) {
        border-left: 400px solid transparent;
      }
      @include media_interval($media768, $media1024) {
        border-left: 320px solid transparent;
      }
      @include media_interval($media400, $media460) {
        border-left: 330px solid transparent;
      }
      @include media_interval(0, $media768) {
        border-bottom: 470px solid #b3262f;
      }
      @include media_interval(0, $media400) {
        top: 90px;
        border-left: 470px solid transparent;
      }
    }
  }

  .img-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    @include transform(translate(-50%, -50%));
  }

  .service-text {
    font-weight: 800;
    position: relative;
    z-index: 2;
    top: 38.3%;
    left: 11.5%;
    max-width: 30%;
    padding-left: 10px;
    color: $white;
    @include font_title();
    @include font-size(40px, 44px);

    @include media_interval($media768, $media1024) {
      padding-left: 22px;
    }
    @include media_interval(0, $media768) {
      @include font-size(30px);
    }
    @include media_interval($media400, $media768) {
      top: 11.5%;
      left: 60px;
      padding-left: 0;
    }
    @include media_interval(0, $media400) {
      top: 9.6%;
      left: 27px;
      padding-left: 0;
    }
  }

  .service-text-left-mobile {
    font-size: 15px;
    line-height: 30px !important;
    position: absolute;
    z-index: 2;
    top: 38.5%;
    left: 60px;
    width: 53%;
    color: $white;
    @include font_default();
    @include fontsize_default();

    @include media_interval($media768, 0) {
      display: none;
    }
    @include media_interval($media460, $media560) {
      top: 30.5%;
      left: 60px;
      width: 74%;
    }
    @include media_interval($media400, $media460) {
      top: 28.5%;
      left: 60px;
      width: 74%;
    }
    @include media_interval(0, $media400) {
      line-height: 28px !important;
      top: 27.8%;
      left: 10%;
      width: 86%;
      letter-spacing: .5px;
      @include opacity(.9);
    }
  }

  .btn-service-black-mobile {
    position: absolute;
    bottom: 8%;
    left: 60px;
    width: 50%;
    padding: 8px 56px 11px 58px;

    @include media_interval($media768, 0) {
      display: none;
    }
    @include media_interval($media560, $media768) {
      left: 60px;
      width: 53%;
    }
    @include media_interval($media400, $media560) {
      left: 60px;
      width: 74%;
    }
    @include media_interval(0, $media400) {
      bottom: 10%;
      left: 10%;
      width: 80%;
      padding: 4px 62px 4px 63px;
    }
  }

  .service-left {
    font-weight: 800;
    position: absolute;
    z-index: 1;
    top: 23.8%;
    right: 7px;
    max-width: 178px;
    text-align: center;
    color: $white;
    @include transform(translate(-50%, -50%));
    @include font-size(20px, 26px);
    @include font_default();

    @include media_interval(0, $media1024) {
      display: none;
    }
  }

  .service-text-center-number {
    font-weight: 700;
    position: absolute;
    z-index: 1;
    top: 48%;
    right: 22px;
    color: $white;
    @include transform(translate(-50%, -50%));
    @include font-size(142px, 26px);
    @include font_default();

    @include media_interval(0, $media1024) {
      display: none;
    }
  }

  .service-right {
    font-weight: 800;
    position: absolute;
    z-index: 1;
    right: 46px;
    bottom: 12%;
    max-width: 139px;
    text-align: center;
    color: $white;
    @include transform(translate(-50%, -50%));
    @include font-size(20px, 26px);
    @include font_default();

    @include media_interval(0, $media1024) {
      display: none;
    }
  }

  .right-block {
    width: 26.7%;
    padding: 67px 7% 35px 2%;

    @include media_interval($media800, $media1024) {
      width: 62%;
      padding: 70px 68px 70px 0;
    }
    @include media_interval($media768, $media800) {
      width: 60%;
      padding: 70px 68px 70px 0;
    }
    @include media_interval(0, $media768) {
      display: none;
    }

    .service-text-right {
      font-size: 15px;
      line-height: 30px!important;
      color: $white;
      @include fontsize_default();

      @include media_interval($media1024, $media1330) {
        @include font-size(14px);
      }
      @include media_interval($media768, $media1024) {
        @include font-size(15px);
      }
    }

    .btn-service-black {
      margin-top: 36px;
      padding: 8px 56px 11px 58px;

      @include media_interval($media1024, $media1176) {
        margin-top: 20px;
      }
    }
  }

  .service-list {
    position: relative;
    z-index: 3;
    margin-top: 43px;
    @include flexbox;
    @include flex-flow(row wrap);

    @include media_interval(0, $media400) {
      margin-top: 36px;
    }

    p {
      margin-bottom: 3px;
    }

    ul {
      @include flexbox;
      @include flex-flow(row wrap);

      li {
        font-weight: 600;
        line-height: 23px;
        position: relative;
        box-sizing: border-box;
        padding-right: 20px;
        padding-left: 32px;
        text-align: left;
        @include flex-columns(3, 20px, 33px);

        @include media_interval($media768, $media1024) {
          margin-right: 0!important;
          @include flex-columns(2, 20px, 33px);
        }
        @include media_interval(0, $media768) {
          font-weight: 400;
          margin-right: 0;
          padding-right: 0;
          @include flex-columns(1, 20px, 21px);
        }

        align-items: stretch;

        &:after {
          position: absolute;
          top: 6px;
          left: 0;
          width: 17px;
          height: 17px;
          content: ' ';
          background: $btn_red;

          @include media_interval(0, $media560) {
            top: 10px;
          }
        }
      }
    }
  }
}
