{% extends 'layout.html' %}

{% load pipeline_plus %}
{% load i18n %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'error' %}
{% endblock static_head %}


{% block title %}{% trans 'Page not found' %}{% endblock %}

{% block content %}

  <div class="wrapper-error">


    <div id="error" class="grid-block block">
      <div class="block-name title-h1">{% block code %}404{% endblock code %}</div>
      <div class="text text-styles">
        {% block text %}
            {% trans 'Page not found' %}<br>
            {% trans 'Back to' %} <a href="{% url 'index' %}">{% trans 'main page' %}</a>
        {% endblock text %}
      </div>
    </div>

  </div>



{% endblock content %}
