{% load pipeline_plus %}
{% load staticfiles %}
{% load js_storage %}
{% load header %}
{% load footer %}
{% load seo %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#" class="no-js"
      lang="{{ LANGUAGE_CODE }}" data-google-apikey="{{ GOOGLE_APIKEY }}" data-google-recaptcha-key="{{ GOOGLE_RECAPTCHA_PUBLIC_KEY }}">
<head>
  <title>{% block title %}{{ request.seo.title }}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">

  {% block metatags %}
    {% include 'seo/metatags.html' %}
  {% endblock metatags %}

  <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon"/>

  {# === SCRIPTS === #}
  <script>
      var docElement = document.documentElement;
      docElement.className = docElement.className.replace(/\bno-js\b/, '') + ' js';
  </script>

  {# === STYLES === #}
  {% include 'pipeline/_loadcss.html' %}

  {% block critical_css %}
    {% inline_stylesheet 'critical' %}
  {% endblock critical_css %}

  {% stylesheet 'fonts' %}
  {% stylesheet 'core' %}
  {% block static_head %}{% endblock static_head %}

  {% include 'pipeline/_preloadcss.html' %}

  {% seo_counters 'head' %}
</head>
<body class="{% block bodyclass %}{% endblock %}" vocab="http://schema.org/">
{% seo_counters 'body_top' %}


<div id="wrapper">

<!--page-loading-->

  <div class="page-loading">
    <div class="diamond"></div>
    <span class="text">Loading...</span>
  </div>

<!--page-loading-end-->

  {% block header %}
    <div id="header-wrapper">
      <div id="header-cell">
        {% if not is_main_page %}
          <!--noindex-->
        {% endif %}

        {% block header_content %}
          {% header %}
        {% endblock header_content %}

        {% if not is_main_page %}
          <!--/noindex-->
        {% endif %}
      </div>
    </div>
  {% endblock header %}

  <div id="content-wrapper">
  {% block mob_menu %}{% endblock mob_menu %}
    <div id="content">
      {% block content %}{% endblock content %}
    </div>
  </div>

  {% block footer %}
    <div id="footer-wrapper">
      <div id="footer-cell">
        {% if not is_main_page %}
          <!--noindex-->
        {% endif %}

        {% block footer_content %}
          {% footer %}
        {% endblock footer_content %}

        {% if not is_main_page %}
          <!--/noindex-->
        {% endif %}
      </div>
    </div>
  {% endblock footer %}
</div>


<script src="{% url 'jsi18n' %}"></script>

<!--[if lte IE 9]>
    <script src="{% static 'polyfills/es5-shim.min.js' %}"></script>
    <script src="{% static 'polyfills/respond.min.js' %}" defer async></script>
  <![endif]-->

{% block static_js %}
  {% js_storage_out %}
  {% javascript 'core' %}
{% endblock static_js %}

<script src="{% static 'polyfills/loader.js' %}" defer async></script>
{% seo_counters 'body_bottom' %}
</body>
</html>
