{% load footer %}
{% load i18n %}
{% load text %}
{% load social_links %}


<footer typeof="WPFooter">
    <div class="grid">

        <div class="gc-wide-3 gc-3 gc-tablet-4 gc-mobile-full">
            <div class="logo-box-footer">
                {% if is_main_page %}
                    <div class="logo-footer"></div>
                {% else %}
                    <a href="{% url 'index' %}" class="logo"></a>
                {% endif %}
            </div>
        </div>

        <div class="social-footer-links-hidden gc-wide-4 gc-4 gc-tablet-4 gc-mobile-full">

            {% if privacy %}
                <a href="{{ privacy.get_absolute_url }}" target="_blank" class="social item-fat open">{{ privacy.title }}</a>
            {% endif %}

            {% if terms %}
                <a href="{{ terms.get_absolute_url }}" target="_blank" class="social social-bottom item-fat open">{{ terms.title }}</a>
            {% endif %}

            {% social_links %}

            <div class="dl-logo-box ">
                {% dl_link %}
            </div>
        </div>

        <div class="address-footer gc-wide-4 gc-ml-wide-1 gc-4 gc-tablet-4 gc-mobile-full">
            <p class="address-info">{% blocktrans %}Powered <span class="item-fat">by DeLano Business Solutions</span>{% endblocktrans %}</p>
            <p class="address-info">{{ contacts.str_address }}</p>
            <p class="address-info address-info-phones">{% trans 'Customer Support:' %} <a href="tel:{{ contacts.phone|phone }}">{{ contacts.phone }}, {{ contacts.phone_mask }}</a> </p>

            <div class="dl-logo-box-hidden">
                {% dl_link %}
            </div>
        </div>

        <div class="social-footer-links gc-wide-4 gc-4 gc-ml-1 gc-tablet-4 gc-mobile-full">
            <div class="politics-pages">
                {% if privacy %}
                    <a href="{{ privacy.get_absolute_url }}" target="_blank" class="social item-fat open politics-pages__page">Privacy Policy</a>
                {% endif %}

                {% if terms %}
                    <a href="{{ terms.get_absolute_url }}" target="_blank" class="social social-bottom item-fat open politics-pages__page">Terms of Use</a>
                {% endif %}
            </div>

            <div class="social-footer-links">
                {% social_links %}
            </div>
            {##}
            {#      <div class="social-links">#}
            {#        <a href="https://www.facebook.com/DelanoBusinessSolutions/" target="_blank" class="icon fb"></a>#}
            {#        <a href="https://plus.google.com/100678449684265290813yf" target="_blank" class="icon gl"></a>#}
            {#        <a href="https://www.instagram.com/company/delano-business-solutions/" target="_blank" class="icon in"></a>#}
            {#        <a href="https://www.linkedin.com/company/delano-business-solutions/" target="_blank" class="icon in"></a>#}
            {#        <a href="https://twitter.com/DelanoSolutions" target="_blank" class="icon tw"></a>#}
            {#      </div>#}

            <div class="dl-logo-box ">
                {% dl_link %}
            </div>
        </div>

    </div>

</footer>