{% load staticfiles %}
{% load footer %}
{% load i18n %}
{% load text %}
{% load social_links %}


<footer class="portal-footer">
    <div class="portal-footer-content">
        <div class="grid-block">
            <div class="portal-footer-content-inner">
                <div class="footer-address">
                    {% blocktrans %}
                        <p><b>MyBizXpert LLC</b></p>
                        <p>Powered by <b>DeLano Business Solutions</b></p>
                    {% endblocktrans %}
                    <p>{{ contacts.str_address }}</p>
                    <p class="address-info-phones">{% trans 'Customer Support:' %} <a href="tel:{{ contacts.phone|phone }}">{{ contacts.phone_mask }}, {{ contacts.phone }}</a></p>
                </div>

                <div class="footer-links">
                    <div class="footer-links-inner">
                        <div class="site-links">
                            {% if privacy %}
                                <a href="{{ privacy.get_absolute_url }}" target="_blank" class="social item-fat open">{{ privacy.title }}</a>
                            {% endif %}
                            {% if terms %}
                                <a href="{{ terms.get_absolute_url }}" target="_blank" class="social social-bottom item-fat open">{{ terms.title }}</a>
                            {% endif %}
                        </div>
                        {% social_links %}
                    </div>
                    <div class="developer-link">
                        <div class="dl-logo-box">
                            {% dl_link %}
                        </div>
                    </div>
                </div>
                <div class="dl-logo-box dl-logo-box-mobile">
                    {% dl_link %}
                </div>
            </div>
        </div>
    </div>
</footer>
