<div class="social-links {{ classes }}">
    {% if links.social_google %}
        <a href="{{ links.social_google }}" target="_blank" class="icon go"></a>
    {% endif %}

    {% if links.social_twitter %}
        <a href="{{ links.social_twitter }}" target="_blank" class="icon tw"></a>
    {% endif %}

    {% if links.social_facebook %}
        <a href="{{ links.social_facebook }}" target="_blank" class="icon fb"></a>
    {% endif %}

    {% if links.social_linkedin %}
        <a href="{{ links.social_linkedin }}" target="_blank" class="icon in"></a>
    {% endif %}

    {% if links.social_youtube %}
        <a href="{{ links.social_youtube }}" target="_blank" class="icon yt"></a>
    {% endif %}
</div>

{#<div class="social-links">#}
{#    <a href="https://www.facebook.com/DelanoBusinessSolutions/" class="icon fb"></a>#}
{#    <a href="https://plus.google.com/100678449684265290813yf" class="icon gl"></a>#}
{#    <a href="https://www.linkedin.com/company/delano-business-solutions/" class="icon in"></a>#}
{#    <a href="https://twitter.com/DelanoSolutions" class="icon tw"></a>#}
{#</div>#}
{##}
{#<ul class="social-links {{ classes }}">#}
{#  {% for link in links %}#}
{#    <li class="icon social-link social-{{ link.provider }}">#}
{#      <a href="{{ link.url }}"#}
{#         title="Follow us on {{ link.get_provider_display() }}"#}
{#         aria-label="Follow us on {{ link.get_provider_display() }}"#}
{#         rel="nofollow" target="_blank"></a>#}
{#    </li>#}
{#  {% endfor %}#}
{#</ul>#}