<div id="billing">
  <div class="grid">
    <div class="gc-wide-5 gc-5 gc-tablet-12 gc-mobile-12">
      <h3 class="title-h3 billing-title-main">{{ config.billing_header }}</h3>
    </div>
  </div>

  <div class="grid-block">

    <div class="billing-list">

      {% for feature in config.features.all %}

        <div class="billing-item {{ feature.icon }}">
          {{ feature.text }}
        </div>

      {% endfor %}

    </div>

  </div>

</div>