{% load away %}

<div id="categories">
  <div class="grid">
    <div class="gc-wide-5 gc-5 gc-tablet-8 gc-mobile-full fix-width">
      <h3 class="title-h3 categories-title-main">{{ config.categories_header }}</h3>
    </div>
  </div>

  <div class="grid">

    <div class="categories-title">

      {% for categories in config.categories_list.all %}

        <div class="price-column gc-wide-3 gc-3 gc-ml-1 gc-ml-wide-1 gc-tablet-4 gc-mobile-full ">

          <span class="categories-title-1 startup-{{ categories.category_type|lower }}">{{ categories.category_type}}</span>

          <div class="text-styles categories-list">
            {% away categories.category_description %}
          </div>

        </div>

      {% endfor %}

    </div>

  </div>

</div>