{% load i18n %}
{% load form_helper %}

<div id="contact">

    <div class="grid">
        <div class="gc-wide-7 gc-9 gc-tablet-10 gc-mobile-11">
            <div class="title-h3 contact-title-main">{{ config.contact_title }}</div>
        </div>
    </div>

    <div class="grid">
        <div class="gc-wide-4 gc-4 gc-tablet-10 gc-mobile-full">
            <div class="phone-wrapper-contact">
                <div class="top-phone-contact">{{ contacts.phone_mask }}</div>
                <div class="bottom-phone-contact">{{ contacts.phone }}</div>
            </div>
        </div>

        <div class="gc-wide-8 gc-8 gc-tablet-10 gc-ml-tablet-1 gc-mobile-full">
            <div class="form">
                <form action="{% url 'contacts:ajax_contact' %}" method="post" id="contact-form">
                    {% csrf_token %}
                    <div class="left-column">
                        {% render_field form 'name' %}
                        {% render_field form 'email' %}
                        {% render_field form 'phone' %}
                    </div>
                    <div class="right-column">
                        {% render_field form 'message' %}
                    </div>

                    <button class="btn btn-contact" id="send-contact-form">{% trans "Let's Talk" %}</button>

                    <div class="captcha">
                        <div id="contact_recaptcha"></div>

                        <div class="recaptcha__wrapper text description">
                            <span class="recaptcha__text">{{ _('This site is protected by reCAPTCHA and the Google ') }}</span>
                            <a class="recaptcha__link" href="https://policies.google.com/privacy">{{ _('Privacy Policy') }} </a> <span class="recaptcha__text"> {{ _('and') }} </span>
                            <a class="recaptcha__link" href="https://policies.google.com/terms">{{ _('Terms of Service') }} </a> <span class="recaptcha__text"> {{ _('apply.') }}</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>