{% load i18n %}
{% load text %}
{% load away %}

<div id="hero">
    <div class="grid">
        <div class="phone-wrapper gc-wide-3 gc-6 gc-ml-7 gc-ml-wide-9 gc-tablet-6 gc-ml-tablet-6 gc-mobile-6">
            <a href="tel:{{ contacts.phone|phone }}" class="top-phone">{{ contacts.phone_mask }}</a>
            <a class="bottom-phone" href="tel:{{ contacts.phone|phone }}">{{ contacts.phone }}</a>
        </div>
    </div>

    <div class="grid">
        <div class="home-wrapper">
            <div class="gc-wide-4 gc-ml-wide-4 gc-4 gc-ml-2 gc-tablet-5 gc-mobile-12 fix-width">
                <h1 class="title-h1-main">{{ config.header }}</h1>

                {% if client %}
                    <div class="authenticate-buttons">
                        <a href="{% url 'portal:index' %}" class="btn btn-hero-white">{% trans 'Delano Portal' %}</a>
                        <a href="{% url 'clients:profile' %}" class="btn btn-hero-red">{% trans 'Profile' %}</a>
                    </div>
                {% elif not request.user.is_authenticated %}
                    <div class="authenticate-buttons">
                        <a href="{% url 'clients:login' %}" class="btn btn-hero-white">{% trans 'Sign In' %}</a>
                        <div class="btn btn-hero-red btn-open-register-popup {# btn-anchor btn-anchor--prices #}">{% trans 'Sign Up' %}</div>
                    </div>
                {% endif %}
            </div>

            <div class="gc-wide-3 gc-ml-wide-1 gc-5 gc-ml-1 gc-tablet-5 gc-ml-tablet-1 gc-mobile-12 fix-width">
                <div class="title-desc">{{ config.subheader }}</div>
                <div class="text-styles text-main">{% away config.text_top %}</div>
            </div>

            <div class="down-arrow">
                <a class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>
            </div>

        </div>
    </div>

</div>