{% load away %}
{% load i18n %}
{% load staticfiles %}

<div id="prices">

    <div class="grid">

        <div class="gc-wide-6 gc-6 gc-tablet-7 gc-mobile-full fix-width">
            <h3 class="title-h3 prices-title">{{ config.package_header }}</h3>
            <p class="text-styles text-price-top">{{ config.package_text_top }}</p>
            <p class="text-price-bottom">{{ config.package_text_bottom }}</p>
        </div>
    </div>

    <div class="grid padding-none">
        <div class="gc-wide-12 gc-12 gc-tablet-12 gc-mobile-full padding-none">
            <div class="prices-photo-container">

                {% for package in packages %}

                    <div class="packages-block">

                        <div class="about-price-top">
                            <div class="price-photo open-buy-subscription-popup" data-package="{{ package.pk }}">

                                <img src="{% static 'img/blank.gif' %}" data-src="{{ package.img.normal.url }}" class="price-img lazyload onview" alt="price-package">

                                {% if package.popular %}
                                    <div class="cuarter"></div>
                                {% endif %}

                                <div class="cuarter-show cuarter-show-{{ package.name|lower }}"></div>
                                <span class="price-mo">{{ package.price_month }}</span>
                                <span class="price-title">{{ package.name }}</span>
                                <span class="btn btn-green">{% trans 'Buy' %}</span>

                            </div>
                        </div>

                        <div class="about-price-bottom">
                            <div class="about-price">
                                <div class="text-styles price-list">
                                    {% away package.description %}
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>

    <div class="dark-back"></div>

</div>

