{% load staticfiles %}
{% load i18n %}
{% load away %}

<div id="service">

    <div class="grid-block">
        <div class="">
            <div class="img-block">
                <div class="left-block">
                    <img src="{% static 'img/blank.gif' %}" data-src="{% static 'img/fon_grey.jpg' %}" class="img-bg lazyload onview" srcset="{% static 'img/fon_grey.jpg' %}, {% static 'img/fon_grey_x2.jpg' %}" alt="" sizes="100vw">
                    <p class="service-text">{{ config.services_header }}</p>

                    <p class="service-text-left-mobile">{{ config.service_text }}</p>
                    <div class="btn btn-service-black-mobile">{% trans 'Sign Up' %}</div>

                    <p class="service-left">{{ config.service_sub_1 }}</p>
                    <p class="service-text-center-number">{{ config.service_sub_2 }}</p>
                    <p class="service-right">{{ config.service_sub_3 }}</p>
                </div>
                <div class="right-block">
                    <p class="service-text-right">{{ config.service_text }}</p>

                    {% if client %}
                        <a href="{% url 'portal:index' %}" class="btn btn-service-black">{% trans 'Delano Portal' %}</a>
                    {% elif not request.user.is_authenticated %}
                        <div class="btn btn-service-black btn-open-register-popup {# btn-anchor btn-anchor--prices #}">{% trans 'Sign Up' %}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="grid-block">

        <div class="text-styles service-list">
            {% away config.service_list %}
        </div>

    </div>

</div>