@import 'mixins';

// точка перехода к вертикальному подвалу
$column_footer: $media640;

$logo_width: 208px;
$logo_height: 88px;


#footer-cell > footer {
  color: $white;
  background-color: transparent;
  padding-top: 10px;
  //padding-bottom: 80px;
  padding-bottom: 40px;

  @include media_interval(0, $media375) {
    margin-top: 6px;
    padding-bottom: 50px;
  }

  .flex {
    @include flexbox;
    @include align-items(center);

    @include media_interval(0, $column_footer) {
      @include align-items(stretch);
      @include flex-direction(column);
    }
  }

  .logo-box-footer {
    width: 206px;

    @include media_interval(0, $media375) {
      padding-left: 14%;
      width: 183px;
    }

    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: #{100 * $logo_height/$logo_width + "%"};
      background: $sprite_a_url no-repeat rel-background-position($logo_width, $logo_height, 0px, -241px);
      background-size: rel-background-size($logo_width, $logo_height);
    }
    .logo-footer {
      vertical-align: middle;
      overflow: hidden;
    }

    a.logo:hover {
      @include opacity(0.75);
    }
  }

  .address-footer {
    padding-top: 12px;
    color: $white;
    @include font_default();
    @include font-size(13px, 18px);

    @include media_interval(0, $media375) {
      text-align: center;
      padding-top: 40px;
    }

    .address-info {
      margin-bottom: 6px;
    }

    .address-info-phones {

      @include media_interval(0, $media375) {
        padding: 0 10% 0 11%;
      }
    }
  }

  .politics-pages {
    padding: 6px;
    margin: -10px -6px;

    .politics-pages__page {
      padding: 10px 6px;
    }
  }
  .social-footer-links {
    margin: -10px 0;
  }
  .politics-pages, .social-footer-links, .dl-logo-box {
    //padding: 10px 0;
  }

  .social-footer-links {
    color: $white;
    text-align: right;
    @include font_default();
    @include font-size(13px, 18px);

    @include media_interval(0, $media768) {
      display: none;
    }

    .social {
      display: inline-block;

      @include transition(all .3s ease-in-out);

      &:hover {
        opacity: .7;
        @include transition(all .3s ease-in-out);
      }

      @include media_interval($media1260, $media1330) {
        margin-right: 8px;
      }

      @include media_interval($media1176, $media1260) {
        margin-right: 3px;
      }

      @include media_interval($media560, $media1176) {
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }
      }

      @include media_interval(0, $media560) {
        margin-right: 8px;
      }

      @include media_interval(0, $media768) {
        display: block;
      }
    }

    .icon {
      position: relative;
      display: inline-block;
      width: 28px;
      height: 28px;
      margin-right: 7px;
      @include transition(all .3s ease-in-out);

      &:last-child {
        margin-right: 0;
      }


      @include media_interval(0, $media375) {
        margin-right: 3px;
        &:last-child {
          margin-right: 0;
        }
      }

      &:before {
        content: ' ';
        width: 28px;
        height: 28px;
        position: absolute;
        left: 0;
        top: 0;
      }
      &.fb:before {
        background: $sprite_a_url no-repeat -1px -331px;
      }
      &.go:before {
        background: $sprite_a_url no-repeat -31px -331px;
      }
      &.in:before {
        background: $sprite_a_url no-repeat -61px -331px;
      }
      &.tw:before {
        background: $sprite_a_url no-repeat -91px -331px;
      }
      &.yt:before {
        background: $sprite_a_url no-repeat -121px -331px;
      }

      &:hover {
        @include opacity(0.8);
      }
    }

    .social-links {
      display: inline-block;
      vertical-align: middle;

      @include media_interval($media560, $media1176) {
        margin-top: 5px;
        display: block;
      }

      @include media_interval($media375, $media560) {
        padding-top: 10px;
      }

      @include media_interval(0, $media375) {
        @include transition(all .3s ease-in-out);
        @include transform(scale(1.4));
      }
    }
  }

  .social-footer-links-hidden {
    @extend .social-footer-links;
    display: block;
    text-align: left;

    @include media_interval($media768, 0) {
      display: none;
    }

    @include media_interval(0, $media375) {
      text-align: center;
      padding-top: 25px;
    }

    .social-bottom {
      @include media_interval(0, $media375) {
        padding-bottom: 40px;
      }
    }
  }

  .dl-logo-box {
    padding-top: 20px;

    @include media_interval(0, $media1024) {
      display: none;
    }

    .dl-links {
      text-align: right;
      @include media_interval(0, $column_footer) {
        text-align: center;
      }

      @include media_interval($media375, $media768) {
        text-align: left;
      }

      @include media_interval(0, $media375) {
        text-align: center;
      }

      p {
        display: inline-block;
        margin-bottom: 10px;
        text-align: left;
        white-space: nowrap;
        @include opacity(0.5);
        @include font-size(13px, 18px);

        @include media_interval(0, $column_footer) {
          text-align: center;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      a:hover {
        @include opacity(0.7);
      }
    }
  }

  .dl-logo-box-hidden {
    @extend .dl-logo-box;
    display: block;

    @include media_interval($media768, 0) {
      display: none;
    }
  }

  .item-fat {
    font-weight: 800;
  }

  .address-info-phones > a {
    &:hover {
      @include opacity(.8);
    }

    &, &:hover {
      @include transition(opacity .15s ease);
    }
  }
}

a {
  target-name:new;
  target-new: tab!important;
}

