{% load i18n %}


<p>
    {% blocktrans %}Hello, {{ name }}!{% endblocktrans %}
</p>

{% block content %}{% endblock content %}

<p><a href="{{ portal }}">{% trans 'Сlick here to open Delano Portal' %}</a></p>
