{% extends 'portal/mails/_information.html' %}

{% load i18n %}


{% block content %}
    <p>{% blocktrans %}You have the answer to the question {% endblocktrans %}</p>
    <p>{% trans 'Question' %}: {{ question }}</p>
    <p>{% trans 'Answer' %}: {{ answer }}</p>
{% endblock content %}
