{% load i18n %}


<p>{% blocktrans %}You have the a new query of {% endblocktrans %}<b>{{ query.option }}</b></p>

{#<p><a href="{{ request.scheme }}://{{ domain }}/clients/client/{{ client_id }}/">{% trans 'Сlick here to open Delano Portal' %}</a></p>#}
<p><a href="{{ request.scheme }}://{{ domain }}/dladmin/portal/query/{{ query.id }}/">{% trans 'Сlick here to open Delano Portal' %}</a></p>
