{% load i18n %}

<div class="success-pop">
  <p class="title">{% trans 'Thank you <br> Your message was sent!' %}</p>

{#  <p class="text text-styles">{% trans 'An email with all the details will be sent to you shortly.' %}</p>#}

  <button type="button" class="btn btn-green-popup close-popup">{% trans 'Done' %}</button>
</div>
