@import 'mixins';

.communications {
  .communication {
    margin-top: 25px;
    border-bottom: 1px solid #cdced3;
  }

  .communication-header {
    padding-right: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    @include flexbox;
  }

  .communication-title {
    span {
      font-weight: bold;
      color: $lipstick;
      @include font-size(15px, 22px);
    }

    &:before {
      display: inline-block;
      margin-right: 5px;
      content: '+';
      color: #737373;
      @include font-size(15px, 22px);
    }
  }

  .communication-data,
  .communication-time {
    color: #35363a;
    @include font-size(15px, 22px);
  }

  .communication-data {
    margin-left: auto;
  }

  .communication-time {
    margin-left: 40px;
  }

  .communication-summary {
    display: none;
    padding-bottom: 10px;
    color: #2f282f;

    @include font-size(15px, 26px);
  }
}
