@import 'mixins';

.faq {
  .title {
    margin-top: 30px;
    color: #2f282f;
    @include font-size(22px);
  }

  .question {
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cdced3;

    &:first-of-type {
      margin-top: 40px;
    }
  }

  .question-header {
    cursor: pointer;
  }

  .question-title {
    span {
      font-weight: bold;
      color: $lipstick;
      @include font-size(15px, 22px);
    }

    &:before {
      display: inline-block;
      margin-right: 5px;
      content: '+';
      color: #737373;
      @include font-size(15px, 22px);
    }
  }

  .question-answer {
    display: none;
    margin: 10px 0;
    color: #2f282f;
    @include font-size(15px, 26px);
  }
}
