@import 'mixins';


#inquiries {
  //padding: 20px 0 0;
  &:before {

    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    content: '';
    //background-color: #f1f2f4;
    background-image: repeating-linear-gradient(-45deg, transparent 0, transparent 8px, #f5f6f8 8px, #f5f6f8 16px);
    //background-image: -webkit-repeating-linear-gradient(-45deg, transparent 0, transparent 8px, #f5f6f8 8px, #f5f6f8 16px);
    //background-image: -moz-repeating-linear-gradient(-45deg, transparent 0, transparent 8px, #f5f6f8 8px, #f5f6f8 16px);
    //background-attachment: fixed;
  }

  .btn-wrapper {
    bottom: 52px;
    position: absolute;
    text-align: center;
    padding-top: 40px;
    top: auto !important;
    width: calc(100% - 240px) !important;
    left: 50%;
    @include transform(translateX(-50%));
  }
}

.inquiries {

  .inquiry {
    margin-top: 30px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .updated {
    font-weight: bold;
    margin-bottom: 6px;
    text-align: right;
    color: $gunmetal;
    @include font-size(13px, 20px);
  }

  .time {
    margin-left: 10px;
  }

  .body {
    padding: 36px;
    border-radius: 3px;
    background-color: $white;
    box-shadow: 0 2px 0 0 #c1c5d1;

    @include media_interval(0, $media1024) {
      padding: 18px;
    }
  }

  .category,
  .question,
  .answer {
    margin-top: 6px;
    @include font-size(15px, 28px);

    &:first-of-type {
      margin-top: 0;
    }
  }
}



.btn-green-portal {
  max-width: 380px;
  margin-bottom: 0;

  @include media_interval(0, $media400) {
    max-width: 300px;
  }

  @include media_interval(0, $media1024) {
    margin-top: 25px;
  }
}