@import 'mixins';

#payments {
  table {
    border-collapse: collapse;

    @include fontsize_default;
    @include font_default;

    th {
      font-weight: bold;
      padding-bottom: 10px;
      border-bottom: 1px solid #cdced3;
    }

    td {
      padding-top: 20px;
      padding-bottom: 5px;
    }

    th, td {
      //@include hpad(10px);
      padding-right: 30px;
      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  .paypal-config {
    margin-bottom: 33px;

    @include flexbox;
    @include align-items(center);

    .paypal-config__image {
      margin-right: 30px;
    }

    .paypal-config__text {
      cursor: pointer;
      color: #139ad6;
      font-weight: bold;

      @include font_default;
      @include fontsize_default;

      &:hover {
        @include opacity(.75);
      }

      &, &:hover {
        @include transition(opacity .15s ease);
      }
    }
  }
}

