@import 'mixins';

.resources {
  .resource {
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cdced3;
    @include flexbox;
  }

  .resource-title {
    font-weight: bold;
    color: $lipstick;
    @include font-size(15px, 22px);
  }

  .resource-date,
  .resource-time {
    color: #35363a;
    @include font-size(15px, 22px);
  }

  .resource-date {
    margin-left: auto;
  }

  .resource-time {
    margin-left: 40px;
  }
}
