@import 'mixins';

@import 'conf';

.query-popup {
  .popup-content {
    max-width: 780px !important;
    padding: 80px 100px !important;
  }

  .title {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 22px !important;
    letter-spacing: -0.5pt;
    word-spacing: 3.1pt;
  }
  .fields__group {
    margin: -10px;

    @include flexbox;

    .field {
      margin-bottom: 10px;
      padding: 10px;
    }
  }
  textarea {
    padding-bottom: 21px !important;
  }

  .popup-close-button {
    width: 35px;
    height: 35px;
    top: 25px !important;
    right: 22px !important;
  }
}

.success-query-popup {
  .title-h4 {
    font-size: 22px !important;
    @include media_interval(0, $media768) {
      font-size: 18px !important;
    }
  }
  .popup-content {
    padding: 65px 100px !important;
    max-width: 580px !important;
  }

  .text {
    padding-top: 20px;
  }

  .text-styles {
    p {
      margin-bottom: 5px;
    }
  }
}

.field-time-container {
  position: relative;
  width: 100%;

  .time-description {
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    position: absolute;
    top: -10px;

    @include media_interval(0, $media1200) {
      display: none;
    }
  }
}