{% load form_helper %}
{% load i18n %}

<div id="inquiry-msg" class="inquiry-msg-box">
    <div class="content-inner">
    <div class="title title-h4">{% trans 'Submit an inquiry' %}</div>
        <div class="content-inner__wrapper">
            <form action="{% url 'portal:ajax_inquiry' %}" method="post" id="inquiry">
                {% csrf_token %}

                <div class="fields">
                    <div class="fields__group">
                        {% render_field form_inquiry 'category' %}
                        {% render_field form_inquiry 'phase' %}
                    </div>
                    <div class="fields__group">
                        {% render_field form_inquiry 'question' %}
                    </div>
                </div>
                <div class="btn-wrapper">
                    <button id="send-inquiry" class="btn btn-green-portal">{% trans 'Send' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>