{% load form_helper %}
{% load i18n %}

<div id="inquiry-msg-popup" class="inquiry-msg-box">
    <div class="content-inner">
        <div class="content-inner__wrapper">
            <form action="{% url 'portal:ajax_inquiry' %}" method="post" id="inquiry">
                {% render_form form %}
                <div class="btn-wrapper">
                    <button id="send-inquiry" class="btn btn-green-portal">{% trans 'Send' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>