{% load i18n %}
{% load form_helper %}


<div class="success-popup custom-form">
    <p class="title">{{ title }}</p>

    <div class="form-wrapper">
        <form action="{% url 'portal:ajax_query' %}" method="post" id="query-popup-form">
            {% csrf_token %}

            <div class="fields">
                <div class="fields__group">
                    {% render_field form 'date' %}
                    <div class="field-time-container">
                        <p class="time-description">{% trans 'Eastern Standard Time (UTC -5)' %}</p>
                        {% render_field form 'time' %}
                    </div>
                </div>
                <div class="fields__group">
                    {% render_field form 'description' %}
                </div>
            </div>
        </form>
        <button type="button" class="btn btn-green-popup" id="send-query">{% trans 'Send' %}</button>
        <div class="text additional-info">
            {% blocktrans %}
                *A Business Advisor will send you a schedule confirmation for your call to the
                email address provided in  your customer profile: with a call start-time
                falling within the range you requested. Each call typically  lasts at least one (1) hour.
                Unless you cancel this call at least 30 minutes prior to its start-time,
                a total of  one (1) Counsel Hour will be deducted from your remaining 'Counsel Hour’ balance.
                All times are based  on Eastern Standard Time (UTC -S).
                For Immediate Assistance, call 267-405-6549)
            {% endblocktrans %}
        </div>
    </div>
</div>