{% load i18n %}

<div class="success-pop">
  <p class="title title-h4">{% trans 'Thanks for the question!' %}</p>
  <div class="text text-styles">
    <p>{% trans 'Your question in processing' %}</p>
    <p>{{ time_description }}</p>
  </div>

  <button type="button" class="btn btn-green-popup close-popup">{% trans 'Done' %}</button>
</div>
