{% load i18n %}

<div class="success-pop">
  <p class="title title-h4">{% trans 'Your request has been sent' %}</p>

  <p class="text text-styles">{% trans 'In the near future you will receive a notification of confirmation.' %}</p>

  <button type="button" class="btn btn-green-popup close-popup">{% trans 'Done' %}</button>
</div>
