{% extends 'layout.html' %}

{% load pipeline_plus %}
{% load away %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'politics' %}
{% endblock static_head %}


{% block content %}

  <div class="grid">
    <div class="gc-wide-8 gc-ml-wide-1 gc-10 gc-ml-1 gc-tablet-full gc-mobile-full">
      {% block header %}  {{ config.header }}  {% endblock header %}
      {% block updated %}  {{ config.updated }}  {% endblock updated %}

      <div class="text text-styles">
        {% block text %}
          {% away config.text_field %}
        {% endblock text %}
      </div>
    </div>
  </div>


{% endblock content %}

{% block footer %}
{% endblock footer %}