@import "mixins";


.buy-hours-popup {
  .additional-hours {
    margin: -10px;
    position: relative;
    overflow: hidden;
    display: block;
  }

  .hours {
    display: inline-block;
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;

    .hours__info {
      padding: 10px;
      background-color: #f3f4f7;

      @include border-box;
      @include font_default;
      @include fontsize_default;

      .hours-info__count {
        @include font_title;
        @include fontsize_h3;

        font-weight: bold;
        color: $btn_green;
      }
    }
  }

  //.btn-wrapper {
  //  padding-top: 40px;
  //}
}

#buy-subscription-popup {
  .text-styles {
    color: $portal_text;
    text-align: left;
  }
}