{% load i18n %}


<div id="communications" class="tab-content">
    <div class="content-inner-wrapper">
        <div class="grid-block">
            <div class="content-inner" data-tab="communications">

                <div class="communications">
                    {% for communication in communications %}
                        <div class="communication">
                            <div class="communication-header accordion">
                                <div class="communication-title"><span>{% trans 'Talk' %}: </span><span>{{ communication.title }}</span></div>
                                <div class="communication-data">{{ communication.created|date:'j/n/Y' }}</div>
                                <div class="communication-time">{{ communication.created|time:'H:i A' }}</div>
                            </div>
                            <div class="communication-summary accordion-inner">{{ communication.summary }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
