<div id="faq" class="tab-content">
    <div class="content-inner-wrapper">
        <div class="grid-block">
            <div class="content-inner" data-tab="faq">
                <h4 class="title">{{ questions_config.header }}</h4>
                <div class="faq">
                    {% for question in questions %}
                        <div class="question">
                            <div class="question-header accordion">
                                <div class="question-title"><span>{{ question.question }}</span></div>
                            </div>
                            <div class="question-answer accordion-inner">{{ question.answer }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
