{% load i18n %}


<div id="inquiries" class="tab-content">
    <div class="content-inner-wrapper">
        <div class="grid-block">
            <div class="content-inner" data-tab="inquiries">
                <div class="content-inner__wrapper">
                    <div class="inquiries">
                        {% for inquiry in inquiries %}
                            {% if inquiry.answered %}
                                {% include 'portal/parts/inquiry.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-wrapper sticky">
        <button id="open-send-inquiry" class="btn btn-green-portal">{% trans 'Submit an inquiry' %}</button>
    </div>
</div>