{% load i18n %}
{% load static %}
{% load cache %}


<div id="payments" class="tab-content">
    <div class="content-inner-wrapper">
        <div class="grid-scroll">
            <div class="scroll-content">
                <div class="content-inner" data-tab="payments">
                    <div class="paypal-config">
                        <div class="paypal-config__image">
                            <img src="{% static 'img/portal_img/PayPal.png' %}" alt="">
                        </div>
                        <div class="paypal-config__text">
                            <a href="https://developer.paypal.com/developer/accountStatus/" target="_blank">{% trans 'For account settings and changes please click here' %}</a>
                        </div>
                    </div>
                    <table class="payments">
                        <thead>
                        <tr>
                            <th>{% trans 'Date' %}</th>
                            <th>{% trans 'Name/Email' %}</th>
                            <th>{% trans 'Payment' %}</th>
                            <th>{% trans 'Start Date' %}</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for transaction in transactions %}
                            <tr class="transaction">
                                <td>{{ transaction.date }}</td>
                                <td>{{ transaction.name_email }}</td>
                                <td>{{ transaction.price }}</td>
                                <td>{{ transaction.purchase.subscription.start_date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>