<div id="resources" class="tab-content">
    <div class="content-inner-wrapper">
        <div class="grid-block">
            <div class="content-inner" data-tab="resources">

                <div class="resources">
                    {% for resource in resources %}
                        <div class="resource">
                            <a class="resource-title" href="{{ resource.url }}">{{ resource.title }}</a>
                            <div class="resource-date">{{ resource.updated|date:'j/n/Y' }}</div>
                            <div class="resource-time">{{ resource.updated|time:'H:i A' }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>