{% load staticfiles %}
{% load text %}

<header>

  {% if is_main_page %}
    <img src="{% static 'img/fon_red.jpg' %}," class="section-image fon-red" alt="red-background" srcset="{% static 'img/fon_red.jpg' %}, {% static 'img/fon_red_x2.jpg' %}" sizes="100vw">
  {% endif %}

  <div class="grid">

    <div class="gc-wide-3 gc-2 gc-tablet-2 gc-mobile-full">
      <div class="logo-box">
        {% if is_main_page %}
          <div class="logo"></div>
        {% else %}
          <a href="{% url 'index' %}" class="logo"></a>
        {% endif %}
      </div>
    </div>

    <div class="contact-box gc-wide-7 gc-10 gc-tablet-7 gc-mobile-full relative">
        <a href="tel:{{ config.phone|phone }}" class="icon">{{ config.phone }}</a>
    </div>

  </div>

</header>

