{% load form_helper %}
{% load i18n %}

<p class="title title-h1">{% trans 'Submit an inquiry' %}</p>

{{ form.media }}
<form method="post" action="{% url 'users:login' %}" id="ajax-login-form"
      class="users-login-form users-popup-form users-form" autocomplete="off">

  {% render_form form %}

  <div>
    <button type="submit" class="btn">{% trans 'Sign in' %}</button>
  </div>
</form>

