{% extends 'layout.html' %}

{% load i18n %}
{% load pipeline_plus %}
{% load placeholder %}
{% load form_helper %}
{% load footer %}
{% load menu %}


{% block static_head %}
    {{ block.super }}
    {% stylesheet 'portal' %}
    {% stylesheet 'client' %}
{% endblock static_head %}

{% block static_js %}
    {{ block.super }}
    {% javascript 'client' %}
{% endblock static_js %}

{#{% block bodyclass %}body-fixed-height{% endblock bodyclass %}#}
{% block header %}
{% endblock header %}

{% block content %}

    <div class="container">
        {% include 'portal/parts/mobile_menu.html' %}
        {% include 'portal/parts/sidebar.html' %}

        <main>

            <div class="content-wrapper">
                <div class="content">
                    <form method="post" action="{% url 'users:ajax_login' %}" id="login-form"
                          class="clients-login-form clients-form" autocomplete="off">
                        <input type="hidden" name="next" value="{{ request.GET.next }}">

                        {% render_form form %}

                        <div class="btn-wrapper">
                            <button type="submit" class="btn btn-green-portal" id="btnLogin">{{ _('Sign in') }}</button>
                        </div>

                        <div class="error-msg"> </div>
                    </form>
                </div>
            </div>
        </main>
    </div>

{% endblock content %}

{% block footer_content %}
    {% portal_footer %}
{% endblock footer_content %}