@import 'mixins';

$logo_width: 185px;
$logo_height: 80px;

#header-cell > header {
  padding: 30px 0;

  &:after {
    content: ' ';
    width: 100%;
    height: 3500px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(-35deg, #251f25, #251f25);
    @include transform(skew(45deg, -45deg) translateY(1078px) translateX(570px));

    @include media_interval($media768, $media1200) {
      @include transform(skew(0deg, -45deg) translateY(250px));
    }

    @include media_interval($media375, $media768) {
      @include transform(skew(0deg, -45deg) translateY(180px));
    }

    @include media_interval(0, $media375) {
      @include transform(skew(0deg, -45deg) translateY(235px));
    }
  }


  .flex {
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-start);
  }

  .fon-red {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;

    @include media_interval(0, $media560) {
      @include transform(scale(2));
      top: 80%;
      left: 5%;
    }
  }

  .logo-box {
    position: relative;
    z-index: 50;
    top: 31px;
    left: 1px;
    padding-bottom: 5px;
    width: 275px;

    @include media_interval(0, $media768) {
      top: -10px;
    }

    .logo {
      width: 275px;
      vertical-align: middle;
      overflow: hidden;

      @include media_interval($media560, $media768) {
        width: 165px;
      }

      @include media_interval(0, $media560) {
        width: 120px;
      }

      &:before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: #{100 * $logo_height/$logo_width + "%"};
        background: $sprite_a_url no-repeat rel-background-position($logo_width, $logo_height, 0px, 0px);
        background-size: rel-background-size($logo_width, $logo_height);
      }
    }

    a.logo:hover {
      @include opacity(0.75);
    }
  }

  .menu-box {
    padding: 0 20px;
    text-align: center;
    @include flex(1 1 auto);

    @include media_interval(0, $media_mobile) {
      padding: 0;
      text-align: right;
    }
  }

  .contact-box {
    position: relative;
    z-index: 60;
    bottom: 15px;
    display: block;
    text-align: right;
    color: $white;

    @include media_interval($media768, 0) {
      display: none;
    }

    @include media_interval($media560, $media768) {
      bottom: 60px;
    }

    @include media_interval(0, $media560) {
      bottom: 55px;
    }

    .icon {
      padding: 4px;
      height: 27px;
      cursor: pointer;
      position: relative;
      display: block;
      @include transition(all .3s ease-in-out);

      &:hover {
        @include opacity(.7);
        @include transition(all .3s ease-in-out);
      }

      &:before {
        content: ' ';
        width: 28px;
        height: 28px;
        position: relative;
        bottom: 0;
        left: 0;
        display: inline-block;
        background: $sprite_a_url no-repeat -1px -80px black;
        @include transition(all .3s ease-in-out);
        @include transform(scale(1.3));
      }
    }
  }
}
