//=======================
// Точки для media-queries
//=======================
$media2200: 2200px;
$media1900: 1900px;
$media1440: 1440px;
$media1360: 1360px;
$media1330: 1330px;
$media1300: 1300px;
$media1260: 1260px;
$media1220: 1220px;
$media1200: 1200px;
$media1176: 1176px;
$media1124: 1124px;
$media1100: 1100px;
$media1076: 1076px;
$media1024: 1024px;
$media1010: 1010px;
$media900: 900px;
$media860: 860px;
$media800: 800px;
$media783: 783px;
$media768: 768px;
$media640: 640px;
$media600: 600px;
$media584: 584px;
$media560: 560px;
$media520: 520px;
$media480: 480px;
$media460: 460px;
$media440: 440px;
$media400: 400px;
$media375: 375px;


//=======================
// Сетка
//=======================
$cols_wide: 12;
$cols_desktop: 12;
$cols_tablet: 12;
$cols_mobile: 12;

// Максимальная ширина сетки
$grid_max_width: 1320px;

// Боковые границы каждого столбца
$grid_column_gap: 10px;

// Боковые границы сетки
$grid_paddings: (
    ($media1200, 0): 60px,
    ($media1024, $media1200): 40px,
    ($media768, $media1024): 28px,
    ($media640, $media768): 16px,
    (0, $media640): 8px,
);

// Боковые границы сетки с прибавлением границы столбца
$grid_full_paddings: ();
@each $key, $value in $grid_paddings {
  $grid_full_paddings: map-merge($grid_full_paddings, (
    $key: $value + $grid_column_gap
  ))
}


//=======================
// Sprite
//=======================
$sprite_a_url: url(/static/img/Sprite_A.svg);
$sprite_width: 810px;
$sprite_height: 1680px;

$sprite_b_url: url(/static/img/portal_img/Sprite_B.svg);
$sprite_width_b: 276px;
$sprite_height_b: 192px;

//=======================
// Цвета
//=======================
$white: #FFFFFF;
$text_color: #dfdfdf;
$form_text: #b3262f;
$btn_red: #c2242d;
$btn_green: #68a722;
$btn_brown: #200606;
$btn_text_dark: #200606;
$block_bg: #1c191a;
$portal_text: #2f282f;
$red_bg: #ae3138;
$politics_text: #5d5d5d;
$light_text: #969696;
$buy_form_text: #2f2f2f;
$gunmetal: #505963;
$lipstick: #c2242d;


//=======================
// Меню
//=======================
$menu_burger_color: #c2242d;
$menu_burger_width: 28px;
$menu_burger_line_height: 4px;
$menu_burger_line_space: 5px;

// интервал показа мобильного меню
$media_mobile: $media1024;


//=======================
// Формы
//=======================

// вертикальное расстояние между полями
$field_space: 8px;
