@import 'mixins/all';
@import 'conf';

//=========================================
//  Размеры шрифта
//=========================================

@mixin fontsize_default() {
  @include font-size(15px, 28px);
  @include media_interval(0, $media768) {
    @include font-size(14px, 28px);
  }
}

@mixin fontsize_h1() {
  @include font-size(75px, 65px);
  @include media_interval(0, $media768) {
    @include font-size(32px);
  }
}

@mixin fontsize_h2() {
  @include font-size(40px, 44px);
  @include media_interval(0, $media768) {
    @include font-size(24px);
  }
}

@mixin fontsize_h3() {
  @include font-size(24px, 47px);
  @include media_interval(0, $media768) {
    @include font-size(24px);
  }
}

@mixin fontsize_h4() {
  @include font-size(22px, 30px);
  @include media_interval(0, $media768) {
    @include font-size(18px);
  }
}

//=========================================
//  Кнопки
//=========================================

@mixin fontsize_btn() {
  @include font-size(18px, 30px);
}

//=========================================
//  Шрифты
//=========================================

@mixin font_default() {
  font-family: OpenSans, sans-serif;
}

@mixin font_title() {
  font-family: Raleway, sans-serif;
}

//=========================================
//  Модификаторы
//=========================================

@mixin price_mo() {
  color: $white;
  line-height: 1.25;
  position: absolute;
  font-weight: bold;

  @include font-size(20px, 25px);
  @include font_default();
}

@mixin price_title() {
  color: $white;
  line-height: 0.42;
  letter-spacing: 1.1px;
  font-weight: 900;
  position: absolute;

  @include font_title();
  @include font-size(55px, 23px);
}

@mixin form_text_red {
  color: #c2242d;
  font-weight: 600;
}

.buy_form_text {
  color: $buy_form_text;
  font-weight: 600;

  @include font_default();
  @include font-size(15px, 30px);

  @include media_interval(0, $media560) {
    @include font-size(14px);
  }
}

.form-list-item-fat {
  font-weight: 800;
}

//=========================================
//  Модификаторы Portal
//=========================================

.red-word {
  color: $btn_red;
}

.fat-font {
  font-weight: bold;
}

.desc-mrg-btm {
  margin-bottom: 4px;
}