@import "mixins";

@include media_interval($media1200, 0){

  @include keyframes(background-animation) {
    0% {@include transform(scale(1.5));}
    100%{@include transform(scale(1));}
  }


  @include keyframes(fadeInUp) {
    from {
      @include opacity(0);
      @include transform(translate3d(0, 100%, 0));
    }

    to {
      @include opacity(1);
      @include transform(translate3d(0, 0, 0));
    }
  }


  @include keyframes(fadeInDown) {
    from {
      @include transform(translate3d(0, -100%, 0));
    }

    to {
      @include opacity(1);
      @include transform(translate3d(0, 0, 0));
    }
  }


  .fadeInUp {
    @include animation(fadeInUp 2s ease-out);
  }

  .fadeInDown {
    @include animation(fadeInDown 2s ease);
  }

  .background-animation-initial {
    @include animation(background-animation 2s ease);
  }

  .logo-animate {
    @include opacity(0);
    @include animation-delay(.5s);
    @include animation-fill-mode(forwards);
  }

  .title-animate {
    @include opacity(0);
    @include animation-delay(.7s);
    @include animation-fill-mode(forwards);
  }

  .btn-animate {
    @include opacity(0);
    @include animation-delay(.7s);
    @include animation-fill-mode(forwards);
  }

  .title-animate-up {
    @include opacity(0);
    @include animation-delay(.7s);
    @include animation-fill-mode(forwards);
  }


  .header-after::after {
    @include animation(afterUp 1s ease-in);
  }

  @include keyframes(afterUp) {

    from {
      @include transform(skew(45deg, -45deg) translateY(1078px) translateX(570px)  translateX(-1000px))
    }

    to {
      @include transform(skew(45deg, -45deg) translateY(1078px) translateX(570px)  translateX(0))
    }
  }

}