@import "mixins";

.btn {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 10px 0;
  line-height: 1.67;
  max-width: 100%;
  z-index: 1;
  color: $white;
  cursor: pointer;
  text-align: center;
  background: #A0A0A0;
  font-weight: 800;

  @include unselectable;
  @include border-box;
  @include fontsize_btn();
  @include font_title();
}

.btn-green-portal {
  margin-bottom: 30px;
  padding: 5px 20px;
  width: 100%;
  max-width: 380px;
  color: $white;
  background: $btn_green;
  @include box-shadow(inset 0 -2px 0 0 #43730d);
  @include border_radius(3px);
  @include transition(all .3s ease-in-out);

  &:hover {
    background: #528b13;
    @include transition(all .3s ease-in-out);
  }
}

.btn-green, .btn-green-popup {
  color: $white;
  outline: 6px solid #68a722;
  outline-offset: -6px;
  background: $btn_green;
  @include transition(all .3s ease-in-out);


}
.btn-green:not([disabled]), .btn-green-popup:not([disabled]) {
  &:hover {
    background: #528b13;
    @include transition(all .3s ease-in-out);
  }
}
.btn-green-active {
    background: #528b13;
    @include transition(all .3s ease-in-out);
}

.btn-service-black, .btn-service-black-mobile {
  color: $white;
  outline: 6px solid #200606;
  outline-offset: -6px;
  background: $btn_text_dark;
  @include transition(all .3s ease-in-out);

  &:hover {
    background: #482323;
    @include transition(all .3s ease-in-out);
  }
}

.btn-contact {
  color: $white;
  background: $btn_brown;
  outline: 6px solid #200606;
  outline-offset: -6px;
  @include transition(all .3s ease-in-out);

  &:hover {
    background: #482323;
    @include transition(all .3s ease-in-out);
  }
}

.btn-portal {
  border: 1px solid #dcdcdc;
  margin-right: 2%;
  padding: 5px 20px;
  color: #505963;
  background-color: $white;
  text-align: left;
  @include border_radius(20px);
  @include font-size(13px, 20px);
}