@import 'mixins';

#popup-container {
  -webkit-overflow-scrolling: touch!important;
}

.popup {
  .popup-close-button {
    top: 20px !important;;
    right: 20px !important;;
  }
  .popup-window {
    max-width: 80% !important;;
  }
  .popup-content {
    border-radius: 3px;
    overflow-y: auto !important;;
    padding: 90px 60px !important;;

    @include media_interval($media560, $media768) {
      padding: 70px 20px !important;;
    }
    @include media_interval(0, $media560) {
      padding: 65px 0 !important;;
    }

    //.success-pop {
    //  padding: 0 100px !important;;
    //
    //  @include media_interval($media560, $media1024) {
    //    padding: 0 80px !important;;
    //  }
    //  @include media_interval(0, $media560) {
    //    padding: 0 20px !important;
    //  }
    //}
  }
}

.custom-form {
  text-align: center;

  .title {
    padding-bottom: 50px;

    @include media_interval($media1124, $media1330) {
      @include font-size(36px);
    }
    @include media_interval($media1024, $media1124) {
      @include font-size(30px);
    }
    @include media_interval($media768, $media1024) {
      @include font-size(28px);
    }
    @include media_interval(0, $media1124) {
      padding-bottom: 30px;
    }
  }

  .form-sub-title {
    font-weight: 800;
    margin-left: 10px;
    text-align: left;
    color: $politics_text;
    @include font-size(24px, 47px);
    @include font_title();

    @include media_interval($media800, $media900) {
      @include font-size(22px);
    }
    @include media_interval(0, $media800) {
      @include font-size(18px);
    }
  }

  .form-list {
    padding-left: 48px;

    @include media_interval($media560, $media768) {
      padding-left: 40px;
    }
    @include media_interval(0, $media560) {
      padding-left: 13px;
    }
  }

  .text-styles {
    ul {
      font-weight: 600;
      position: relative;
      padding-top: 20px;
      text-align: left;
      color: #505050;
      @include font-size(15px, 22px);
      @include font-default();

      li {
        padding-bottom: 8px;

        @include media_interval($media560, $media1024) {
          @include font-size(14px);
        }
        @include media_interval(0, $media560) {
          @include font-size(13px);
        }

        &:before {
          position: absolute;
          left: -30px;
          content: '•';

          @include media_interval($media560, $media768) {
            left: -23px;
          }
          @include media_interval(0, $media560) {
            display: none;
          }
        }
      }
    }
  }

  .field-plan_choices {
    li:before {
      display: none;
    }
  }

  .form-wrapper {
    position: relative;
    padding-top: 53px;

    @include media_interval(0, $media400) {
      padding-top: 40px;
    }
    @include media_interval(0, $media400) {
      padding-top: 19px;
    }

    select {
      position: relative;
      cursor: pointer;
      border: none;
      background-color: #ececec!important;
    }

    .field-industry_type,
    .field-life_stage {
      position: relative;
    }

    textarea, input[type=text],
    [type=tel],
    [type=email] {
      font-weight: bold;
      color: #35363a;
      background-color: #ececec!important;
      @include transition(all .3s ease-in-out);

      &:focus {
        font-weight: bold;
        background-color: $white!important;
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, .2);
        @include transition(all .3s ease-in-out);
      }

      &:hover {
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, .2);
        @include transition(all .3s ease-in-out);
      }
    }

    input::-webkit-input-placeholder {
      font-weight: normal;
      color: #545454;
    }

    .field {
      box-sizing: border-box;
      width: 100%;
      max-width: 100%;
      vertical-align: top;

      label {
        color: #969696;
      }
    }

    .field-message {
      width: 100%;

      input[type=textarea] {
        height: 166px;

        @include media_interval(0, $media400) {
          height: 136px;
        }
      }
    }

    .control {
      font-weight: normal;
      box-sizing: border-box;
      max-width: 100%;
      text-align: left;
      color: $text_color;
      background-color: $white;
      @include transition(all .3s ease-in-out);
      @include font-size(15px, 30px);
      @include fontsize_default();

      @include media_interval(0, $media375) {
        @include font-size(16px, 30px);
      }

      &:hover {
        @include opacity(1);
        @include transition(all .3s ease-in-out);
      }
    }

    .input-wrapper-top {
      display: flex;

      flex-flow: row wrap;

      .field {
        @include flex-columns(2, 10px, 10px);

        @include media_interval(0, $media768) {
          @include flex-columns(1, 10px, 10px);
        }
      }

      .field-email,
      .field-phone {
        margin-bottom: 20px;
      }
    }

    .field-address {
      margin-bottom: 10px;
    }

    .select-plan-text {
      position: relative;
      z-index: 5;
      padding-top: 20px;
      text-align: left;
      color: #545454;
      @include font-size(15px, 30px);
      @include font_default();
    }

    .form-text-red {
      @include form_text_red();
    }

    .input-wrapper-center {
      padding-bottom: 30px;

      @include media_interval(0, $media768) {
        padding-bottom: 20px;
      }
    }

    .field-plan_choices {
      position: relative;
      padding-bottom: 20px;

      @include media_interval(0, $media560) {
        padding-bottom: 0;
      }

      ul li {
        margin-top: -15px;
        margin-bottom: -15px;

        @include media_interval(0, $media375) {
          margin-top: -10px;
        }
      }

      label {
        font-weight: 600;
        position: relative;
        padding-left: 40px;
        color: $buy_form_text;
        @include font_default();
        @include font-size(15px, 30px);

        @include media_interval(0, $media560) {
          @include font-size(14px);
        }

        &:before,
        :after {
          content: none;
        }
      }

      input[type=radio] {
        position: relative;
        top: 28px;
        left: 0;
        display: block;
        width: 30px;
        height: 26px;
        padding: 0 0 0 35px;
        cursor: pointer;
      }
    }

    .field-agree {
      position: relative;
      margin-top: 30px;
      text-align: left;

      input[type=checkbox] {
        display: none;
      }
    }

    .input-wrapper-bottom {
      display: flex;

      flex-flow: row wrap;

      .field {
        @include flex-columns(2, 10px, 10px);

        @include media_interval(0, $media768) {
          @include flex-columns(1, 10px, 10px);
        }
      }

      .field-industry_type,
      .field-life_stage {
        margin-bottom: 20px;
      }
    }

    input, textarea,
    [type=textarea] {
      width: 100%;
      padding: 5px 12px 7px 21px;
      cursor: pointer;
      background-color: transparent;
      color: $btn_text_dark;

      &:focus, &:active {
        @include opacity(1);
        @include transition(1s);
      }
    }
  }

  .select-plan-text-bottom {
    text-align: center;
    color: $light_text;
    @include font-size(15px, 30px);
    @include font_default();
  }

  .btn-green {
    width: 50%;
    margin-top: 20px;
    padding: 10px 56px 10px 56px;

    @include media_interval(0, $media783) {
      width: 100%;
    }
  }
}

/*
    Фиксы для селекта
 */

div.field {
  .ui-selectmenu-button {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    padding: 5px 10px 7px 21px;
    cursor: pointer;
    text-align: left;
    border: none;
    background: #ececec;
    @include border-box;
    @include border_radius(0);

    &:focus {
      @include transition(all .3s ease-in-out);
    }

    &:hover {
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, .2);
      @include transition(all .3s ease-in-out);
    }

    .ui-selectmenu-text {
      font-weight: 400;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #35363a;
      @include font-size(16px, 30px);
      @include fontsize_default();
    }

    .ui-selectmenu-icon {
      position: absolute;
      z-index: 10;
      top: 18px;
      right: 10px;
      display: block;
      width: 20px;
      height: 20px;
      content: ' ';
      cursor: pointer;
      background: $sprite_a_url no-repeat -57px -109px;
      @include transition(transform .3s);
      @include transform(translate(0, 10%));
    }

    // открыт
    &.ui-selectmenu-button-open {
      z-index: 11;
      background-color: $white;
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, .2);
      @include transition(all .3s ease-in-out);

      .ui-selectmenu-icon {
        @include transform(translate(0, -50%) scaleY(-1));
      }
    }
  }

  .ui-selectmenu-menu {
    position: absolute;
    z-index: 10;
    display: none;
    overflow: hidden;
    width: 100%;
    @include border-box;
    @include box-shadow(0 0 25px rgba(#000, .15));

    .ui-menu {
      overflow-x: hidden;
      width: 100%;
      max-width: 100%;
      max-height: 300px;
      padding: 0;
      border: none;
      background: $white;
      @include border-box;
    }

    .ui-menu-item-wrapper {
      padding: 10px 10px 10px 21px;
      cursor: pointer;
      color: black;
      border: none;
      @include font-size(16px, 30px);
    }

    .ui-state-active {
      font-weight: normal;
      position: relative;
      margin: 0;
      background: #ececec;
    }

    &.ui-selectmenu-open {
      display: block;
    }
  }

  &.invalid {
    .ui-selectmenu-button {
      border: 1px solid #ececec;
    }
  }
}

.date-pick {
  position: relative;
  display: block;

  &, & > input {
    cursor: pointer;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    right: 3%;
    width: 20px;
    height: 20px;
    background: $sprite_b_url no-repeat -20px -172px;
    top: 50%;
    pointer-events: none;

    @include transform(translateY(-50%));

    @include media_interval(0, $media768) {
      right: 7%;
    }
  }
}