@import "mixins";


#datepicker {
  //@include media_interval($media1200, $media1440) {
  //  left: 536.5px!important;
  //}
}

/* Overlays */
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
  margin-left: -2px;
  margin-top: 10px;
  z-index: 110!important;
  position: absolute !important;
  top: 100% !important;
  left: 8px !important;
  //min-width: 430px !important;
  @include media_interval(0, $media768) {
    width: auto!important;
  }
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 10px 0 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 auto;
  line-height: 1.8em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  //border: 1px solid white;
  //padding: 10px;
  //width: 33%;
  background: #ececec;
  color: #35363a;
  margin-right: 20px;
  @include font_default;
  font-weight: normal;

  &:last-child {
    margin-right: 0;
  }

  @include media_interval(0, $media768) {
    width: 40%;
  }
}

.ui-datepicker table {
  display: block;
  box-sizing: border-box;
  padding: 10px 0;
  font-size: 14px;
  border-collapse: collapse;
  margin: 0 0 .4em;
  color: #35363a;
  background: #ececec;

  @include media_interval(0, $media768) {
    padding: 10px 0 50px 10px;
  }
}

.ui-datepicker th {
  padding: 12px 15px;
  text-align: center;
  font-weight: bold;
  border: 0;

  @include media_interval(0, $media768) {
    padding: 10px 10px;
  }
}

.ui-datepicker td {
  border: 0;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .5em 0;
  text-align: center;
  text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

html {
  position: relative;

  .ui-widget.ui-widget-content {
    max-width: 436px;
    height: 4%;
    min-height: 250px;
    font-size: 14px;

  }
}

.ui-widget-content {
  max-width: none!important;
  width: 100%;
  height: 100%;
  //min-width: 320px!important;
}
.ui-widget-content a {
  color: #333333;
}

.ui-widget-header {
  background: #ececec;
  font-weight: bold;
}

.ui-widget-header a {
  color: #333333;
}
