@import 'mixins';

$logo_width: 185px;
$logo_height: 80px;

#header-cell {
  z-index: 4;
}

#header-cell > header:after {
  display: none;
}

.wrapper-error {
  position: relative;

  &.wrapper-error::before,
  &.wrapper-error::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &.wrapper-error::before {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    background: none;

    @include media_interval(0, $media560) {
      background-image: linear-gradient(to bottom, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5));
    }
  }
  &.wrapper-error::after {
    background-image: url("/static/img/fon_red.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;

    @include media_interval(0, $media1100) {
      background-position: center;
    }
  }
}

#header-cell header {
  .logo-box {
    position: relative;
    z-index: 50;
    top: 31px;
    left: 1px;
    padding-bottom: 5px;
    width: 275px;

    @include media_interval(0, $media768) {
      top: -10px;
    }
    @include media_interval($media560, $media768) {
      width: 165px;
    }
    @include media_interval(0, $media560) {
      width: 120px;
    }

    .logo {
      width: 275px;
      vertical-align: middle;
      overflow: hidden;

      @include media_interval($media560, $media768) {
        width: 165px;
      }

      @include media_interval(0, $media560) {
        width: 120px;
      }

      &:before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: #{100 * $logo_height/$logo_width + "%"};
        background: $sprite_a_url no-repeat rel-background-position($logo_width, $logo_height, 0px, 0px);
        background-size: rel-background-size($logo_width, $logo_height);
      }
    }
  }

  .contact-box {

    display: none;

  }
}

#footer-cell > footer .logo-box-footer {
  display: none;
}

#content {
  vertical-align: middle;
  position: relative;
}

#error {
  text-align: center;
  z-index: 100;
  position: relative;
  top: -100px;


  .block-name {
    color: $white;
    font-weight: 900;

    @include font_title();
    @include font-size(165px, 165px);

    @include media_interval($media480, $media1024) {
      @include font-size(140px);
    }
    @include media_interval(0, $media480) {
      @include font-size(120px);
    }
  }

  .text {
    width: 295px;
    max-width: 100%;
    margin: 20px auto 0;
    text-align: left;

    @include media_interval(0, $media560) {
      padding-left: 35px;
    }

    a {
      text-decoration: underline;
    }
  }
}
