@import 'mixins';

form {
  max-width: 100%;
  @include border-box;
}

// стандартные стили полей в форме
.field {
  margin-bottom: $field_space;
  max-width: 100%;
  width: 380px;
  @include border-box;
  //&:nth-last-of-type(1) {
  //  margin-bottom: 0;
  //}

  .label-holder {
    margin-bottom: 4px;
    text-align: left;
    @include fontsize_default;
  }

  .control {
    max-width: 100%;
    @include border-box;
    @include font_default;
    @include fontsize_default;
    @include media_interval(0, $media480) {
      width: 100%; // fix old safari
    }

    input, select, textarea, .input {
      padding: 10px 20px;
      width: 100%;

      @include border-box;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }

  // класс на поле с ошибкой
  &.invalid {
    input, select, textarea, .input {
      outline: 3px solid #ff001f;
      outline-offset: -3px;
      transition: all .3s ease-in-out;
    }
  }

  // класс текстового описания ошибки
  .error {
    margin-left: 10px;
    color: #ff001f;
    @include font-size(12px);
  }
}


/*
    Кастомизация чекбоксов.
    ОБЯЗАТЕЛЬНО наличие label после input.
*/
$checkbox_size: 26px;
$checkbox_background: #dddddd;
$checkbox_border_width: 1px;
$checkbox_border_color: #AAAAAA;
$checkbox_icon_size: (19px, 24px);
$checkbox_icon_offset: (0, 0);      // left, top

input[type=checkbox] {
  // прячем оригинал
  position: absolute;
  width: auto;
  left: 0;
  top: 0;

  & + label {
    position: relative;
    display: inline-block;
    padding-left: 40px;
    margin: 0;
    @include border-box;
    @include fontsize_default;
    line-height: $checkbox_size + 2 * $checkbox_border_width;

    &:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: $checkbox_size;
      height: $checkbox_size;
      z-index: 1;
      background: $checkbox_background;
    }

    span {
      @include unselectable;
    }

    // переключатель
    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 8px;
      width: nth($checkbox_icon_size, 1);
      height: nth($checkbox_icon_size, 2);
      z-index: 1;
      background: $sprite_a_url no-repeat -37px -108px;
      @include opacity(0);
      @include transition(opacity 0.1s);
    }
  }

  &:checked {
    & + label {
      &:after {
        @include opacity(1);
      }
    }
  }

  &:disabled {
    & + label {
      &:before {
        background: darken($checkbox_background, 10%);
      }
    }

    &:checked {
      & + label {
        &:after {
          @include opacity(0.5);
        }
      }
    }
  }
}

/*
    Кастомизация радиоксов.
    ОБЯЗАТЕЛЬНО наличие label после input.
*/
$radiobox_size: 16px;
$radiobox_background: $white;
$radiobox_border_width: 1px;
$radiobox_border_color: #AAAAAA;
$radiobox_dot_gap: 3px;
$radiobox_dot_color: #000000;
$radiobox_dot_size: $radiobox_size - 2 * $radiobox_dot_gap;

input[type=radio] {
  // прячем оригинал

  & + label {
    position: relative;
    display: inline-block;
    padding-left: $radiobox_size + 10px;
    margin: 0;
    @include border-box;
    @include fontsize_default;
    line-height: $radiobox_size + 2 * $radiobox_border_width;

    &:before {
      content: '';
      position: relative;
      top: 0;
      left: 0;
      width: $radiobox_size;
      height: $radiobox_size;
      z-index: 1;
      background: $radiobox_background;
      border: $radiobox_border_width solid $radiobox_border_color;
      @include border_radius(50%);
    }

    span {
      @include unselectable;
    }

    // переключатель
    &:after {
      content: '';
      position: relative;
      top: $radiobox_border_width + $radiobox_dot_gap;
      left: $radiobox_border_width + $radiobox_dot_gap;

      width: $radiobox_dot_size;
      height: $radiobox_dot_size;
      z-index: 1;
      background: $radiobox_dot_color;
      @include opacity(0);
      @include border_radius(50%);
      @include transition(opacity 0.2s);
    }
  }

  &:checked {
    & + label {
      &:after {
        @include opacity(1);
      }
    }
  }

  &:disabled {
    & + label {
      &:before {
        background: darken($radiobox_background, 10%);
      }
    }

    &:checked {
      & + label {
        &:after {
          @include opacity(0.5);
        }
      }
    }
  }
}

.calendar-wrap {
  position: relative;
  min-width: 50%;
  max-width: 100%;
}