@import 'mixins';

@include global-reset;

html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
  color: #2f282f;
  line-height: 1;
  @include no_fontsize;
  @include font_default;

  &.main-menu-opened {
    overflow: hidden;
  }
}

// Скрытый элемент
.hidden {
  display: none;
}

// Основной контейнер
#wrapper {
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  background-color: #251f25;
}

#header-wrapper {
  display: table-row;
  height: 0;
}

#header-cell {
  display: table-cell;
  position: relative;
  height: 0;
  z-index: 3;
  vertical-align: top;
}

#content-wrapper {
  display: table-row;
}

#content {
  //display: table-cell;
  position: relative;
  height: 100%;
  z-index: 3;
  vertical-align: top;
}

#footer-wrapper {
  background-color: #302b30;
  display: table-row;
  height: 0;
}

#footer-cell {
  display: table-cell;
  position: relative;
  height: 0;
  z-index: 4;
  vertical-align: top;
}

// Полноэкранный блок
.section {
  position: relative;
  overflow: hidden;
  display: block;
  z-index: 1;
  @include border-box;
  @include valign_after;

  &.section-full-height {
    min-height: 768px; // for old
    min-height: 100vh;
  }

  img.section-image {
    @include centrizeImage($zIndex: 2, $minSize:100.5%);
  }

  picture.section-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    img {
      @include centrizeImage($zIndex: 2, $minSize: 100.5%);
    }
  }

  .section-video {
    visibility: hidden;
    @include centrizeImage($zIndex: 20);

    &.loaded {
      visibility: visible;
    }
  }

  @at-root .no-js & .section-video {
    visibility: visible;
  }

  .section-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 50;
    vertical-align: middle;
    @include border-box;
  }
}

// Контентный блок
.block {
  @include vpad(60px);
  @include media_interval(0, $media768) {
    @include vpad(40px);
  }
}

// Заголовки
.title-h1 {
  font-weight: bold;
  @include fontsize_h1;
}

.title-h2 {
  font-weight: bold;
  @include fontsize_h2;
}

.title-h3 {
  font-weight: bold;
  @include fontsize_h3;
}

.title-h4 {
  font-weight: bold;
  @include fontsize_h4;
}

//модный прелоадер

$size: 30px;
$mainColor: #c2242d;
$bgColor: #1c191a;

.page-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $bgColor;
  z-index: 999;
  .diamond {
    position: absolute;
    width: $size;
    height: $size;
    top: calc(50% - #{$size / 2});
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $mainColor;
    transform: rotateZ(-45deg);
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $mainColor;
    }
    &:before {
      animation: move-left infinite 4s;
    }
    &:after {
      animation: move-right infinite 4s;
    }
  }
}

.text-center {
  text-align: center;
}

@keyframes move-left {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX($size) translateY($size) rotateZ(-90deg);
  }
  50% {
    transform: translateX(0) translateY(0);
  }
  75% {
    transform: translateX($size) translateY($size) rotateZ(90deg);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes move-right {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(-$size) translateY(-$size) rotateZ(-90deg);
  }
  50% {
    transform: translateX(0) translateY(0);
  }
  75% {
    transform: translateX(-$size) translateY(-$size) rotateZ(90deg);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.grecaptcha-badge {
  display: none;
}

.recaptcha__wrapper {
  .recaptcha__text, .recaptcha__link {

    @include font-size(14px, 19px);
  }
}