@import "mixins";
@import "conf";

.drawer
{
	width:100%;
	border-top:1px solid #E0E0E0;
	border-radius:3px;
}
.accordion-item
{
	border-bottom:1px solid #E0E0E0;
}

.accordion-header
{

}
.accordion-header .communication
{
	color: #c2242d;
	font-weight: 600;
	cursor: pointer;
	@include flexbox();
	@include flex-flow(row wrap);
	@include font-size(15px, 22px);
}
.accordion-content
{

}
.accordion-content p
{
	margin:0;
}
