@import "mixins";

#login {
  .content {
    min-height: 100%;
    overflow-y: auto;

    @include flexbox;
    @include align-items(center);
    @include justify-content(center);

    &:before {
      position: absolute;
      z-index: -10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background-color: #f1f2f4;
      background-image: repeating-linear-gradient(-45deg, transparent 0, transparent 8px, #f5f6f8 8px, #f5f6f8 16px);
      background-image: -webkit-repeating-linear-gradient(-45deg, transparent 0, transparent 8px, #f5f6f8 8px, #f5f6f8 16px);
      background-image: -moz-repeating-linear-gradient(-45deg, transparent 0, transparent 8px, #f5f6f8 8px, #f5f6f8 16px);
      background-attachment: fixed;
    }
  }

  .clients-form {
    max-width: 100%;
    width: 380px;
    margin-left: -40px;
    margin-top: -50px;

    .field {
      margin-bottom: 22px;
    }

    .btn-wrapper {
      padding-top: 0;
    }

    input {
      background-color: #dcdcdc;
      padding: 5px 16px;
    }
  }

  .error-msg {
    margin-top: 13px;
    color: $btn_red;
    text-align: center;
    font-weight: 700;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    max-width: 380px;

    @include fontsize_default;
  }
}

.container {
  min-height: 100%;
}

.burger {
  display: none;
}