@import "mixins";


#change-background-popup {
  .backgrounds {
    padding-top: 45px;
    margin: -10px;

    @include flexbox;

    .background {
      padding: 10px;
      position: relative;

      @include border-box;

      .background-img-wrapper {
        cursor: pointer;
        overflow: hidden;
        display: block;
        position: relative;

        &:after {
          content: '';
          z-index: 1;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          pointer-events: none;
          background-color: rgba(0, 0, 0, 0.25);

          @include opaque;
        }

        &:hover {
          &:after {
            @include transparent;
          }

          img {
            @include transform(scale(1.1));
          }
        }

        &, &:hover {
          &:after {
            @include transition(opacity .3s ease);
          }
          img {
            @include transition(transform .3s ease);
          }
        }
      }
    }
  }
}

.profile-updated {
  .popup-content {
    max-width: 780px;
  }
}

.success-pop {
  width: 380px;
  max-width: 100%;
}