@import "mixins";


#client-profile {
  max-width: 100%;
  width: 600px;
  margin: auto;
  overflow: auto;

  .content-inner-wrapper {
    overflow: auto;
  }

  #upload-avatar {
    @include fontsize_default;

    &:hover {
      @include opacity(.75);
    }

    &, &:hover {
      @include transition(opacity .15s ease-in-out);
    }
  }

  .client-photo img {
    @include border_radius(50%);
  }

  .photo-block {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }

  .client {
    margin-bottom: 20px;
    text-align: center;

    @include fontsize_default;
  }

  .change-password {
    @include fontsize_default;
  }

  .upload-avatar__icon {
    &:before {
      display: inline-block;
      width: 13px;
      height: 13px;
      margin-right: 4px;
      content: '';
      vertical-align: middle;
      background: $sprite_b_url -31px -158px no-repeat $white;
    }
  }

  .label-holder {
    width: 50%;
    height: 100%;
    position: absolute;
    left: -50%;
    text-align: right;
    padding-right: 25px;

    @include border-box;
    @include flexbox;
    @include justify-content(flex-end);
    @include align-items(center);
  }

  .info {
    margin-top: 20px;
  }

  .change-password {
    cursor: pointer;

    &:hover {
      @include opacity(.75);
    }

    &, &:hover {
      @include transition(opacity .15s ease);
    }
  }
}

form {
  input, select, textarea {
    background-color: #dcdcdc;
  }
  .field {
    margin: auto;
    position: relative;
    margin-bottom: 20px;
  }

  .btn-wrapper {
    padding-top: 15px;
    text-align: center;
  }
}
#client-wrapper {
  .content {
    overflow: auto;
  }
}