@import 'mixins';

.package-popup {
  .description {
    margin-top: 30px;
    text-align: left;
  }

  .btn {
    max-width: 100%;
  }

  .text-styles {
    li {
      list-style: disc;
    }
  }

  .btn-wrapper {
    padding-top: 40px;
  }
}
