{% extends 'clients/page.html' %}

{% load form_helper %}


{% block page %}
<form method="post" action="{% url 'clients:ajax_login' %}" id="login-form"
      class="clients-login-form clients-form" autocomplete="off">
    <input type="hidden" name="next" value="{{ request.GET.next }}">

    {% render_form form %}

    <div class="btn-wrapper">
        <button type="submit" class="btn btn-green-portal" id="btnLogin">{{ _('Sign in') }}</button>
    </div>

    <div class="error-msg"> </div>
</form>
{% endblock page %}
