{% extends 'portal/index.html' %}

{% load form_helper %}
{% load i18n %}
{% load pipeline_plus %}

{% block page_styles %}
    {% stylesheet 'profile' %}
{% endblock page_styles %}

{% block page_scripts %}
    {% javascript 'profile' %}
{% endblock page_scripts %}

{% block page %}

    <div id="client-profile">
        <div class="content-inner-wrapper">
            <div class="grid-block">
                <div class="content-inner">
                    <div class="content-inner__wrapper">
                        <div class="photo-container">

                            {% include 'clients/profile_photo.html' %}
                        </div>

                        <div class="client-info">
                            <form action="{% url 'clients:ajax_profile' %}" method="post" class="client-info__form" id="data-client">
                                <div class="fields">
                                    {% render_form form %}
                                </div>
                                <div class="btn-wrapper">
                                    <button id="update-client-data" class="btn btn-green-portal">{% trans 'Update' %}</button>
                                </div>
                            </form>
                            <div class="info">
                                <div class="text-center">
                                    <a href="{% url 'clients:change_password' %}" id="open-change-password" class="change-password">{% trans 'Change Password' %}</a>
                                    <div class="client">{% trans 'Client ID:' %} {{ client.client_id }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}