{% load i18n %}

<div id="buy-hours-popup" class="custom-form buy-hours-popup">
    <p class="title title-h1">{{ title }}</p>
    <p class="description">{% trans 'On-Demand business advisor hours' %}</p>

    <div class="additional-hours">
        {% for hours in additional_hours %}
            <div class="hours" data-hours="{{ hours.id }}">
                <div class="hours__info hours-info">
                    <div class="hours-info__count">
                        {{ hours }}
                    </div>
                    <div class="hours-info__price">
                        {{ hours.detail_price }}
                    </div>
                </div>
                <div class="btn btn-green-portal buy-hours"><span>{% trans 'Buy' %}</span></div>
            </div>
        {% endfor %}

    </div>
</div>