{% load form_helper %}
{% load i18n %}
{% load away %}

<div id="buy-subscription-popup" class="custom-form">

    <div class="grid">
        <div class="gc-wide-12">
            <p class="title title-h1">{% trans 'You have selected the ' %} {{ package.name }} {% trans ' package' %}</p>
        </div>

        {% if package.description %}
            <p class="form-sub-title">Which includes the following services:</p>

            <div class="form-list text-styles">
                {% away package.description %}
            </div>
        {% endif %}

        <div class="gc-wide-12">
            <div class="form-wrapper">
                <form method="post" action="{% url 'subscriptions:ajax_buy_subscription' %}"  id="{% block id %}ajax-buy-subscription-form{% endblock %}" autocomplete="off">
                    {% csrf_token %}
                    {#              {% render_form form %}#}
                    {% if not client %}
                        <div class="input-wrapper-top">
                            {% render_field form 'first_name' %}
                            {% render_field form 'last_name' %}
                            {% render_field form 'email' %}
                            {% render_field form 'phone' %}
                        </div>

                        <div class="input-wrapper-center address-popup">
                            {% render_field form 'address' %}
                        </div>

                        <div class="input-wrapper-bottom">
                            {% render_field form 'company' %}
                            {% render_field form 'position' %}
                            {% render_field form 'industry' %}
                            {% render_field form 'stage' %}
                        </div>
                    {% endif %}


                    <p class="text-styles select-plan-text">{% trans 'Please, select your subscription payment plan' %}:</p>

                    <div class="input-wrapper-center">
                        {% render_field form  'plan_choices' %}
                        {% render_field form 'agree' template='form_helper/agree_field.html' %}
                    </div>
                    <div class="btn-wrapper">
                        <button type="submit" class="btn btn-green popup-submit" id="buy-subscription"></button>
                        <p class="select-plan-text-bottom">{% trans 'with PayPal' %}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>