{% load i18n %}

<div class="success-popup">
  <p class="title">{% trans 'Thank you <br> Your subscription was register!' %}</p>

  <p class="text text-styles">{% trans 'Once we receive information about the successful conduct of your payment, your email will be sent a username and password' %}</p>

  <button type="button" class="btn btn-green-popup close-popup">{% trans 'Done' %}</button>
</div>
