@import 'mixins';

#content {
  position: relative;
  padding-top: 110px;
  padding-bottom: 100px;
  background: $white;

  @include media_interval(0, $media560) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &:before {
    position: absolute;
    z-index: -1;
    top: -205px;
    left: -500px;
    width: 860px;
    height: 350px;
    content: ' ';
    opacity: .4;
    background: $sprite_a_url no-repeat 28px -362px;

    @include media_interval(0, $media560) {
      background: none;
    }
  }

  h2 {
    font-weight: 800;
    padding-bottom: 10px;
    color: $politics_text;
    @include font_title();
    @include font-size(40px, 44px);
  }

  h3 {
    font-weight: 800;
    color: $politics_text;
    @include font_title();
    @include font-size(24px, 47px);
  }

  ul {
    margin: .2em 0;
    padding-left: 20px;
    color: $politics_text;
    @include font_default();
    @include font-size(15px, 28px);

    li {
      padding-left: 10px;
      list-style-type: disc;
    }
  }
}

p {
  padding-bottom: 20px;
  color: $politics_text;
  @include font_default();
  @include font-size(15px, 25px);
}

.no-margin {
  padding-bottom: 0;
}
