{% load i18n %}


<p>
    {% blocktrans %}Hello, {{ name }}!{% endblocktrans %}
</p>

<p>{% blocktrans %}An account has been created for you. To work with it, you need to click on the {% endblocktrans %} <a href="{{ client }}">{% trans 'link' %}</a>.</p>
<p>{% trans 'Login' %}: {{ login }}</p>
<p>{% trans 'Password' %}: {{ password }}</p>
<p><a href="{{ portal }}">{% trans 'Сlick here to open Delano Portal' %}</a></p>
