{% extends 'form_helper/field.html' %}

{% block field %}
  {{ field }}
  <label for="{{ field.id_for_label }}">
    <p class="buy_form_text">Check here to indicate that you have read and agree to our <a href="{% url 'privacy' %}"><span class="form-text-red">Privacy Policy</span></a> and <a
            href="{% url 'terms' %}"><span class="form-text-red">Terms of Use</span></a></p>
  </label>
{% endblock field %}