<div class="calendar-wrap">
  <div class="field {{ classes }}">
    <div class="control">
      <label class="date-pick" for="datepicker">
        {{ field }}
      </label>
    </div>
  </div>
</div>