@import "mixins";

$t: .75s;

#inquiry-msg {
  position: absolute;
  background-color: white;
  left: 0;
  //bottom: 0;
  width: 100%;
  z-index: 1;
  bottom: -600px;

  @include border-box;
  //@include vpad(40px);
  //@include animation(jumpUp $t ease);

  .content-inner {
    @include vpad(43px);
  }

  form {
    input, select, textarea {
      background-color: #dcdcdc;
    }
    .fields__group {
      margin: -10px;

      @include flexbox;

      .field {
        margin-bottom: 10px;
        padding: 10px;
      }

      &:first-of-type {
        margin-top: 0;
      }
    }
    .field {
      width: 100%;
    }
  }

  &.up {
    bottom: 0;
  }

  &.down {
    bottom: -100%;
  }

  &.up, &.down {
    @include transition(bottom .3s ease);
  }

  .btn-wrapper {
    margin-top: -17px;
  }

  .title {
    text-align: center;
    margin-bottom: 15px;
  }

  @include media_interval(0, $media1024) {
    display: none;
  }
}

@keyframes jumpUp {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}

@keyframes jumpDown {
  from {
    bottom: 0;
  }
  to {
    bottom: -100%;
  }
}

#inquiry {
  @include media_interval(0, $media1024) {
    padding: 10px 30px;
  }
}
