@import 'mixins';

@import 'parts/header';
@import 'parts/header_tab';
@import 'parts/user_controls';
@import 'parts/mobile_header';
@import 'parts/mobile_menu';
@import 'parts/actions_nav';
@import 'parts/sidebar';
@import 'parts/footer';

@import "pages/inquiries";
@import "pages/communications";
@import "pages/faq";
@import "pages/resources";
@import "pages/payments";

@import "forms/inquiry";
@import "popups/query";

#footer-cell > footer .logo-box-footer {
  display: none;
}

#content {
  background-color: $white;

  @include media_interval($media768, 0) {
    min-height: calc(100vh - 130px);
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;

  @include flexbox;

  @include media_interval(0, $media1024) {
    position: relative;
    overflow: auto;
    width: auto;
    height: auto;
  }

  main {
    width: 100%;
    @include flex(1);
    @include flexbox;
    @include flex-direction(column);
  }

  .content-wrapper {
    position: relative;
    @include flex(1 0);
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @include media_interval(0, $media1024) {
      position: relative;
      overflow: auto;
    }
  }

  .content-inner-wrapper {
    position: relative;
    overflow: scroll;

    @include media_interval($media1024, 0) {
      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        height: auto;
        background-color: $lipstick;
        @include border_radius(4px);
      }

      &::-webkit-scrollbar-track {
        height: 60px;
        background-color: rgba(#babec4, 0);
      }
    }
  }

  .content-inner {
    padding: 45px 0 45px;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);

    @include media_interval(0, $media1024) {
      padding: 15px 0 30px;
    }

    &.active {
      @include flexbox;
    }

    > * {
      @include media_interval($media1024, 0) {
        width: 100%;
        max-width: 830px;
        margin: auto;
      }
    }
  }

  .grid-scroll {
    overflow-x: auto;
    touch-action: pan-x;
    max-width: $grid_max_width;
    margin: auto;

    .scroll-content {
      white-space: nowrap;
      display: inline-block;
      max-width: none;
      min-width: 100%;

      @include border-box;
      @include background-clip(content-box);
      @include media_map((padding-left, padding-right), $grid_full_paddings);
    }
  }
}

.page-content {
  overflow: hidden;
}