@import 'mixins';

$menu_text_color: #3c3e41;
$menu_hover_color: #82BD36;
$menu_active_color: #c2242d;

$mobile_background: #fff;
$mobile_text_color: #3c3e41;
$mobile_hover_color: $menu_hover_color;
$mobile_active_color: $menu_active_color;

$logo_width: 185px;
$logo_height: 80px;

// базовый класс всех меню
.menu {
  @include no_fontsize;
}

// главное меню
.main-menu {

  @include media_interval(0, $media_mobile) {
    display: none;
  }
}

// мобильное меню
.mobile-menu {
  position: absolute;
  overflow: hidden;
  top: -200%;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  height: 768px;
  height: 100vh;
  z-index: 50;
  text-align: left;
  //background: $mobile_background;
  @include border-box;
  @include flexbox;
  @include align-items(center);
  @include transition(top 0.4s);
  @include media_interval($media_mobile, 0) {
    display: none;
  }

  header {
    color: black;
    text-align: left;
    font-weight: bold;
    @include flexbox();
    @include flex-flow(row wrap);
    @include align-items(center);
    @include justify-content(flex-end);
    @include font-size(13px, 20px);

    @include media_interval(0, $media640) {
      @include justify-content(flex-start);
      padding: 20px 30px 0 30px;
    }

    .user-photo {
      @include flex(1 1 10%);

      @include media_interval(0, 776px) {
        @include flex(2 1 15%);
      }
    }

    .user-image {
      width: 40px;
      @include border_radius(50%);

      @include media_interval(0, 837px) {
        @include flex(2 1 15%);
      }
    }

    .header-item {
      @include flex(2 1 12%);
      @include transition(all .3s ease-in-out);

      @include media_interval($media640, 776px) {
        @include flex(2 1 14%);
      }

      @include media_interval(0, $media640) {
        @include flex(2 1 20%);
      }

      &:hover {
        opacity: .8;
        @include transition(all .3s ease-in-out);
      }
    }

    .header-item-package-type {
      @include flex(2 1 10%);
      min-width: 262px;
      max-width: 262px;

      @include media_interval($media640, $media768) {
        margin-right: 0!important;
      }
    }

    .header-item-btn-hours {
      min-width: 196px;
      max-width: 196px;
      @include flex(0 1 23%);

      @include media_interval($media640, $media768) {
        margin-top: 5px;
      }
    }

    .settings {
      position: relative;
      color: #3c3e41;

      &:before {
        content: " ";
        left: -18px;
        top: 3px;
        width: 14px;
        height: 14px;
        position: absolute;
        background: url(/static/img/portal_img/Sprite_B.svg) no-repeat $white;
        background-position: -1px -158px;
      }
    }

    .login {
      position: relative;
      color: #3c3e41;

      &:before {
        content: " ";
        left: -18px;
        top: 3px;
        width: 14px;
        height: 14px;
        position: absolute;
        background: url(/static/img/portal_img/Sprite_B.svg) no-repeat $white;
        background-position: -15px -158px;
      }
    }

    .package-type {
      margin-left: 2px;
    }

    .package-type-change {
      background-color: $btn_red;
      padding: 3px 13px;
      position: relative;
      top: -1px;
      color: $white;
      margin-left: 3%;
      text-transform: uppercase;
      @include border_radius(10px);
      @include font-size(11px);
    }

    .hours-count {
      top: -1px;
      margin-left: 2px;
      position: relative;

      &:after {
        content: " ";
        right: -160%;
        top: -1px;
        width: 19px;
        height: 19px;
        position: absolute;
        background: url(/static/img/portal_img/Sprite_B.svg) no-repeat $white;
        background-position: 0px -173px;
      }
    }

    .btn-portal {

      @include media_interval($media640, 776px) {
        margin-right: 0!important;
      }

      &:last-child {
        margin-right: 0;

        @include media_interval($media640, $media768) {
          margin-right: 0!important;
        }
      }

      @include media_interval(0, $media640) {
        margin-top: 15px;
      }
    }
  }

  .section-nav {
    position: relative;

    @include media_interval(0, $media640) {
      padding: 0 30px;
    }

    .nav-list {
      z-index: 1;
      padding: 10px 0;
      @include flexbox();
      @include justify-content(space-between);

      @include media_interval(0, $media640) {
        display: inline-block;
      }
    }

    .nav-list-item {
      color: #3c3e41;
      font-weight: 600;
      cursor: pointer;
      position: relative;
      @include opacity(.7);
      @include font-size(15px, 22px);
      @include transition(all .3s ease-in-out);

      &:hover {
        @include opacity(1);
        @include transition(all .3s ease-in-out);
      }

      &:hover:before {
        content: " ";
        width: 100%;
        position: absolute;
        top: 25px;
        border-bottom: 4px solid $btn_red;
        @include transition(all .3s ease-in-out);
      }
    }
  }

  .nav-sidebar {

    ul {
      @include flexbox();
      @include flex-flow(row wrap);

      li {

        @include flex-columns(2, 10px, 5px);

        @include media_interval(0, $media640) {
          @include flex-columns(1, 10px, 0);
        }
      }

      li > a  {
        padding: 15px 2px 15px 15px;
        color: $white;
        width: 100%;
        outline: 6px solid #200606;
        outline-offset: -6px;
        background: $btn_text_dark;
        @include transition(all .3s ease-in-out);

        &:hover {
          background: #482323;
          @include transition(all .3s ease-in-out);
        }
      }
    }

    li > .project-plan  {
      background-color: #a02a30;
      outline: 6px solid #a02a30;
      outline-offset: -6px;
      &:hover {
        background: #86252b;
        @include transition(all .3s ease-in-out);
      }
    }

    li > .free-consultation {
      background-color: #86252b;
      outline: 6px solid #86252b;
      outline-offset: -6px;
      &:hover {
        background: #a02a30;
        @include transition(all .3s ease-in-out);
      }
    }

    .o-flexy {
      box-sizing: border-box;
      text-transform: uppercase;
      @include font_default();
      @include font-size(13px, 16px);
    }

    .o-flexy-item {
      box-sizing: border-box;
      font-weight: bold;
      margin-left: 57px;
      position: relative;

      &:before {
        content: " ";
        left: -46px;
        top: -12px;
        width: 40px;
        height: 36px;
        position: absolute;
        background: url(/static/img/portal_img/Sprite_B.svg) no-repeat;
        background-position: -143px -116px;
        transform: scale(.8);
      }
    }
    .project-plan {
      &:before {
        background-position: -190px -116px;
      }
    }

    .free-consultation {
      &:before {
        background-position: -234px -116px;
      }
    }

    .video-call {
      &:before {
        background-position: -4px -116px;
      }
    }

    .live-chat {
      &:before {
        background-position: -49px -116px;
      }
    }

    .message-send {
      &:before {
        background-position: -95px -116px;
      }
    }
  }

  .scrollable {
    padding-right: 20px;  // для скрытия скроллбара
    overflow-x: hidden;
    max-height: 100%;
    @include flex(0 0 100%);

    .scrollable-content {
      position: absolute;
      top: 0;
      width: 100%;
      padding: 30px;
      @include border-box;

      @include media_interval(0, $media640) {
        padding: 0;
      }
    }

    .logo-box {
      position: relative;
      z-index: 50;
      top: 5px;
      left: 0;
      padding-bottom: 5px;
      width: 100%;
      text-align: -webkit-center;

      .logo {
        max-width: 210px;
        vertical-align: middle;
        overflow: hidden;

        &:before {
          content: '';
          display: block;
          width: 100%;
          padding-bottom: #{100 * $logo_height/$logo_width + "%"};
          background: $sprite_a_url no-repeat rel-background-position($logo_width, $logo_height, 0px, 0px);
          background-size: rel-background-size($logo_width, $logo_height);
        }
      }
    }
  }

  li {
    margin: 15px 0 10px 0;

    @include media_interval(0, $media640){
      margin: 15px 0 0 0;
    }

    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      vertical-align: top;
      color: $mobile_text_color;

      @include media_interval($media_mobile, 0) {
        @include font-size(15px, 22px);
      }

    }

    &.active a {
      color: $mobile_active_color;
    }
  }

  @at-root .main-menu-opened & {
    top: 0;
  }

  .mobile-menu-inner {
    @include box-shadow(0 40px 40px rgba(0, 0, 0, 0.7));
  }
}

// Кнопка меню для мобильной версии
.mobile-menu-button {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 60;
  cursor: pointer;
  text-align: left;
  vertical-align: middle;
  @include unselectable;
  @include media_interval($media_mobile, 0) {
    display: none;
  }

  .burger {
    position: absolute;
    top: 20px;
    right: 5px;
    width: $menu_burger_width;
    //height: 3 * $menu_burger_line_height + 2 * $menu_burger_line_space;
    height: 20px;

    @include media_interval(0, $media640) {
      top: 19px;
      right: 16px;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: $menu_burger_line_height;
      background: $menu_burger_color;
      @include transition-timing-function(linear);
    }
    &:before {
      top: 0;
      @include box-shadow($menu_burger_color 0 (8px) 0 0);
      @include transform(translate3d(0, 0, 0) rotate(0deg));
      @include transition-property(transform, box-shadow, top);
      @include transition-duration(0.55s, 0.2s, 0.2s);
      @include transition-delay(0s, 0.45s, 0.45s);
      transition: all 0.45s ease;
    }
    &:after {
      top: 100%;
      @include transform(translate3d(0, -100%, 0) rotate(0deg));
      @include transition-property(transform, top);
      @include transition-duration(0.55s, 0.2s);
      @include transition-delay(0s, 0.45s);
      transition: all 0.45s ease;
    }
    &:hover::after {
      background: $red_bg;
    }
    &:hover::before {
      background: $red_bg;
    }
    &:hover::before {
      @include box-shadow($red_bg 0 (8px) 0 0);
    }

    @at-root .main-menu-opened & {
      &:before {
        top: 50%;
        @include box-shadow(transparent 0 0 0 0);
        @include transform(translate3d(0, -50%, 0) rotate(225deg));
        @include transition-delay(0.1s, 0.1s, 0s, 0s);
      }
      &:after {
        top: 50%;
        @include transform(translate3d(0, -50%, 0) rotate(315deg));
        @include transition-delay(0.1s, 0s);
      }
    }
  }
}
