@import "popups_core";


// вертикальные отступы окна
$window_margin: (
                ($media1024, 0): 60px,
                (0, $media1024): 50px
);

// размер окна
$window_width: auto;

// максимальная ширина окна
$window_max_width: (
                ($media1024, 0): 70%,
                ($media480, $media1024): 80%,
                (0, $media480): 90%,
);

// поля контентной части окна
$content_paddings: (
                ($media640, 0): 70px 160px,
                ($media480, $media640): 36px,
                (0, $media480): 20px 20px 36px,
);

// цвет фона окна
$background_color: $white;

// кнопка закрытия
$close_btn_size: 42px;
$close_btn_color: #727272;
$close_btn_weight: 4px;


//=======================
// CORE
//=======================

#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0,0,0,0.4);
}

.popup {
  .popup-window {
    @include media_map(width, $window_width);
    @include media_map(max-width, $window_max_width);
    @include media_map((margin-top, margin-bottom), $window_margin);
  }

  .popup-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: $close_btn_size;
    height: $close_btn_size;
    z-index: 6;
    cursor: pointer;

    @include transform(scale(1));
    @include transition(transform 0.2s);

    &:hover {
      opacity: .8;
      transition: all .3s ease-in-out;
    }


    &:before, &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 80%;
      height: $close_btn_weight;
      background: $close_btn_color;
      @include border_radius($close_btn_weight);
    }
    &:before {
      @include transform(translate3d(-50%, -50%, 0) rotate(45deg));
    }
    &:after {
      @include transform(translate3d(-50%, -50%, 0) rotate(-45deg));
    }
    &:hover {
      @include transform(scale(1.1));
    }
  }

  .popup-content {
    background-color: $background_color;
    text-align: center;
    @include media_map(padding, $content_paddings);

    &:before {
      content: ' ';
      width: 860px;
      height: 350px;
      position: absolute;
      left: -500px;
      top: -205px;
      opacity: 0.4;
      z-index: -1;
      background: $sprite_a_url no-repeat 28px -362px;

      @include media_interval(0, $media768) {
        display: none;
      }
    }

    .title {
      color: $politics_text;
      font-weight: 800;
      text-align: left;

      @include font_title();
      @include fontsize_h2();

      @include media_interval($media768, $media1024) {
        @include font-size(30px);
      }

      @include media_interval(0, $media768) {
        @include font-size(26px);
      }
    }

    .text {
      color: $politics_text;
      margin-top: 5px;
      text-align: left;

      @include font-size(15px, 24px);
      @include font_default();

      &.additional-info {
        @include font-size(13px, 22px);
        margin-top: 30px;
      }
    }

    .btn-green-popup {
      padding: 5px 56px;
      margin: auto;
      width: 100%;
      margin-top: 28px;
    }
  }
}
