{% load away %}
{% load i18n %}


<div id="package">
    <div class="title popup-title">{{ package.full_name }}</div>

    <div class="description">
        <div class="text-styles">
            {% away package.description %}
        </div>
    </div>

    <div class="btn-wrapper">
        <a href="{{ link }}" class="btn btn-green-portal">{% trans 'Change Package' %}</a>
    </div>
</div>