@import 'mixins';

.actions-nav {
  position: relative;
  overflow: hidden;

  .sidebar & {
    background: #f9fafa url('/static/portal/img/default_nav.jpg') no-repeat 50% 40% / cover;
    @include flex(1 1 auto);
    @include flexbox;
    @include flex-direction(column);
  }

  .mobile-menu & {
    margin-top: 30px;
  }

  .nav-item {
    cursor: pointer;
    user-select: none;

    .mobile-menu & {
      position: relative;
      background-color: transparent;

      //@include media_map((padding-left, padding-right), $grid_full_paddings);

      &:before {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: #2d262d;
      }
    }

    @each $icon, $pos_x in (chat, 47),
            (consultation, 228),
            (phone, 138),
            (video, 2),
            (plan, 184),
            (message, 92) {
      &.nav-#{$icon} {
        .icon {
          &:before {
            background: url(/static/img/portal_img/Sprite_B.svg) no-repeat rel-background-position(46px, 46px, -#{$pos_x}px, -111px, 276px, 192px);
          }
        }
      }
    }

    @include media_interval(0, $media_mobile) {
      padding: 15px;
    }
  }

  .nav-list {
    overflow-y: auto;
    z-index: 1;
    @include border-box;
  }

  .nav-link {
    font-weight: bold;
    display: inline-block;
    //height: 70px;
    //padding: 0 30px;
    text-transform: uppercase;
    color: $white;
    padding: 15px 0 17px;

    @include border-box;
    @include align-items(center);
    @include justify-content(center);
    @include font-size(13px, 16px);
    @include flexbox;
    @include hpad(30px);

    @include media_interval(0, $media_mobile) {
      @include hpad(0);
    }

    .mobile-menu & {
      max-width: 830px;
      //height: 50px;
      margin: 0 auto;
      padding: 0;
    }
    &:hover {
      background-color: rgba(0,0,15, .4);
    }

    &, &:hover {
      @include transition(background-color .15s ease)
    }

    .icon {
      display: block;
      max-width: 40px;
      height: 40px;
      margin-right: 10px;

      .mobile-menu & {
        max-width: 30px;
        height: 30px;
      }

      &:before {
        content: '';
        display: inline-block;
        width: 100%;
        padding-bottom: 100%;
        background-size: rel-background-size(40px, 40px, 276px, 192px);

        @include flex(1 0);
      }
    }

    span {
      display: inline-block;
      width: 100%;
      @include flex(1 1);
    }

    @include media_interval(0, $media_mobile) {
      color: #333;
    }
  }

  .option {
    &.option--gold{
      background-color: #86252b;
    }
    &.option--platinum{
      background-color: #a02a30;
    }

  }

  .actions-nav__bg {
    @include centrizeImage();

    @include media_interval(0, $media_mobile) {
      display: none;
    }
  }

  .actions-nav__container {
    z-index: 2;
    position: relative;
    height: 100%;
    overflow-y: auto;
    display: contents;

    //@include flexbox;
    //@include flex-direction(column);
    //@include justify-content(space-between);

    @include media_interval($media860, $media1024) {
      background-color: $white;
    }
  }

  @include media_interval(0, $media1024) {
    margin-top: 0 !important;

    .nav-list {
      width: 100%;
      margin: 0 -15px;
      background-color: $white;
      overflow-y: scroll;

      @include flexbox;
      @include flex-wrap(wrap);

      @include media_interval(0, $media480) {
        @include flex-direction(column);
      }

    }
    .nav-item {
      width: 50%;
      display: block;

      @include border-box;

      &:before {
        background-color: transparent;
      }

      @include media_interval(0, $media480) {
        width: 100%;
      }
    }
  }

  @include media_interval(0, $media_mobile) {
    max-width: 830px;
    margin: auto;
  }
}

