@import 'mixins';

#footer-cell > .portal-footer {
  padding: 20px 0;

  .portal-footer-content {
    @include media_interval($media1024, 0) {
      margin-left: 240px;
    }
  }

  .portal-footer-content-inner {
    @include flexbox;
    @include justify-content(space-between);

    @include media_interval($media1024, 0) {
      max-width: 780px;
      margin: 0 auto;
    }
    @include media_interval(0, $media1024) {
      @include flex-direction(column);
    }
  }

  .footer-address {
    color: $white;
    @include font-size(13px, 22px);

    @include media_interval(0, $media1024) {
      margin-top: 20px;
      text-align: center;
      @include order(2);
      @include font-size(12px, 18px);
    }
  }

  .footer-links {
    text-align: right;
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-between);

    @include media_interval(0, $media1024) {
      text-align: center;
    }
  }

  .footer-links-inner {
    @include flexbox;
    @include align-items(center);

    @include media_interval(0, $media1024) {
      @include flex-direction(column);
      @include order(1);
    }
  }

  .site-links {
    display: inline-block;

    a {
      font-weight: bold;
      margin-right: 20px;
      @include font-size(13px, 18px);

      &:hover {
        @include opacity(.75);
      }

      &, &:hover {
        @include transition(opacity .15s ease);
      }

      @include media_interval(0, $media1024) {
        display: block;
        margin: 0;
        @include font-size(15px, 20px);

        &:last-of-type {
          margin-top: 10px;
        }
      }
    }
  }

  .social-links {
    display: inline-block;

    @include media_interval(0, $media1024) {
      margin-top: 20px;
    }

    .icon {
      position: relative;
      display: inline-block;
      width: 28px;
      height: 28px;
      margin-right: 7px;
      @include transition(all .3s ease-in-out);

      @include media_interval(0, $media1024) {
        width: 40px;
        height: 40px;
      }

      &:last-of-type {
        margin-right: 0;
      }

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        padding-bottom: 100%;
        content: '';
        background: $sprite_a_url no-repeat;
        background-size: rel-background-size(28px, 28px);
      }

      &.fb {
        &:before {
          background-position: rel-background-position(28px, 28px, -1px, -331px);
        }
      }

      &.go {
        &:before {
          background-position: rel-background-position(28px, 28px, -31px, -331px);
        }
      }

      &.yt {
        &:before {
          background-position: rel-background-position(28px, 28px, -121px, -331px);
        }
      }

      &.in {
        &:before {
          background-position: rel-background-position(28px, 28px, -61px, -331px);
        }
      }

      &.tw {
        &:before {
          background-position: rel-background-position(28px, 28px, -91px, -331px);
        }
      }

      &:hover {
        @include opacity(0.8);
      }
    }
  }

  .dl-logo-box {
    &.dl-logo-box-mobile {
      display: none;

      @include order(3);

      @include media_interval(0, $media1024) {
        display: block;
      }

      .dl-links {
        text-align: center;
      }
    }
  }

  .address-info-phones > a {
    &:hover {
      @include opacity(.8);
    }

    &, &:hover {
      @include transition(opacity .15s ease);
    }
  }
}
