@import 'mixins';

//.portal-header .portal-header-tab {
//  border-top: solid 1px rgba(179, 185, 188, .29);
//  border-bottom: solid 1px rgba(179, 185, 188, .29);
//  background-color: #eaecf0;
//}
.portal-header-tab {
  border-top: solid 1px rgba(179, 185, 188, .29);
  border-bottom: solid 1px rgba(179, 185, 188, .29);
  background-color: #eaecf0;

  @include border-box;

  .tabs-list {
    max-width: 830px;
    margin: 0 auto;

    @include flexbox;

    .mobile-menu & {
      margin-bottom: 15px;

      @include flex-wrap(wrap);
      @include flex-direction(row);

      @include media_interval(0, $media480) {
        @include flex-direction(column);
      }
    }
  }

  .tab{
    cursor: pointer;
    user-select: none;
    //margin-right: 40px;
    position: relative;
    display: inline-block;
    //padding: 12px 0 14px;

    margin: 0 22px;
    font-weight: 600;

    @include vpad(13px);
    @include border-box();
    @include font-size(15px, 22px);
    //@include opacity(.7);

    span:first-of-type {
      @include opacity(.7);
    }

    .mobile-menu & {
      padding: 0 0 4px;
    }

    &.active {
      cursor: default;

      span {
        @include opacity(1);
      }

      &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        content: '';
        background-color: $lipstick;

        @include media_interval(0, $media_mobile) {
          display: none;
        }
      }
    }
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }

    .mobile-menu & {
      margin: 15px 0 0;
    }

    @include media_interval($media_mobile, 0) {
      &:not(.active):hover {
        span {
          @include opacity(.85);
        }
      }
      &, &:hover {
        span {
          @include transition(opacity .3s ease);
        }
      }
    }
  }

  .tab-counter {
    position: absolute;
    width: 18px;
    height: 18px;
    text-align: center;
    color: $white;
    background-color: $lipstick;
    top: 50%;
    right: -25px;


    @include transform(translateY(-50%));
    @include border_radius(50%);
    @include font-size(12px, 18px);
  }

  &:not(.mobile-tabs) {
    @include media_interval(0, $media1024) {
      display: none;
    }
  }

  @include media_interval(0, $media_mobile) {
    background-color: $white;
    color: #333;

    .tab {
      width: 50%;

      @include opaque;

      @include media_interval(0, $media480) {
        width: 100%;
      }
    }
  }
}
