@import 'mixins';

.mobile-menu.portal-mobile-menu {
  height: 100%;
  overflow-y: auto;

  @include justify-content(flex-start);
  @include align-items(flex-start);

  //@include media_interval($media768, 0) {
  //  display: block;
  //}
  @include media_interval($media1024, 0) {
    display: none;
  }

  @at-root .main-menu-opened .container {
    overflow-y: scroll;
    display: block;
    position: relative;
  }

  .mobile-menu-inner {
    width: 100%;
  }

  li {
    margin: 0;

    .icon {
      display: none;
    }
  }

  .actions-nav {
    .nav-item {
      &:before {
        background-color: $white;
      }
    }
  }

  .user-controls {
    background-color: $white;
  }

  .mobile-menu-container {
    background-color: $white;
  }

  #mobile-menu-button-opened {
    .burger {
      right: 30px;

      @include media_map(margin-right, $grid_paddings);
    }
  }
}
