@import 'mixins';
$logo_width: 212px;
$logo_height: 88px;

.portal-mobile-header {
  position: relative;
  display: none;
  box-sizing: border-box;
  height: 60px;
  border-bottom: 1px solid #dbdde1;
  background-color: $white;

  @include media_interval(0, $media1024) {
    display: block;
  }

  .mobile-header-content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 120px;
    height: 60px;
    padding: 9px;
    background-color: $lipstick;

    &:before {
      display: block;
      width: 100%;
      padding-bottom: #{100 * $logo_height/$logo_width + '%'};
      content: '';
      background: $sprite_a_url no-repeat rel-background-position($logo_width, $logo_height, 0px, -241px);
      background-size: rel-background-size($logo_width, $logo_height);
    }
  }

  .mobile-menu-button {
    //@include media_interval($media_mobile, 0) {
    //  display: inline-block;
    //}


    @include media_interval($media1024, 0) {
      display: inline-block;
    }
  }
}
