@import 'mixins', 'conf';
$logo_width: 212px;
$logo_height: 88px;

.sidebar {
  max-width: 240px;
  @include flex(1);
  @include flexbox;
  @include flex-direction(column);

  @include media_interval(0, $media1024) {
    display: none;
  }

  .logo {
    box-sizing: border-box;
    max-height: 120px;
    padding: 22px 27px;
    background-color: $lipstick;

    &:before {
      display: block;
      width: 100%;
      padding-bottom: #{100 * $logo_height/$logo_width + '%'};
      content: '';
      background: $sprite_a_url no-repeat rel-background-position($logo_width, $logo_height, 0px, -241px);
      background-size: rel-background-size($logo_width, $logo_height);
    }
  }

  .change-background-button {
    font-weight: bold;
    margin-top: auto;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;
    z-index: 1;

    @include unselectable;
    @include opacity(.7);
    @include font-size(13px, 20px);

    &:hover {
      @include opacity(.5);
    }

    &, &:hover {
      @include transition(opacity .15s ease);
    }
  }
}
