@import 'mixins';

.user-controls {
  padding: 15px 0;

  .controls-list, .controls-box {
    user-select: none;
    @include flexbox;
    @include align-items(center);

    .mobile-menu & {
      display: block;
    }

    @include media_interval($media1024, 0) {
      margin-right: 33px;
    }
  }

  .controls-settings, .controls-logout {
    &:before {
      display: inline-block;
      vertical-align: middle;
    }
    &:hover {
      @include opacity(.75);
    }

    &, &:hover {
      @include transition(opacity .15s ease);
    }
  }

  .controls-panel {
    max-width: 830px;
    margin: 0 auto;

    @include flexbox;
    @include justify-content(space-between);

    .mobile-menu & {
      display: block;
    }
  }

  .controls-item {
    margin-right: 23px;
    display: inline-block;
    vertical-align: middle;

    &:last-of-type {
      margin-right: 0;
    }

    .mobile-menu & {
      margin: 15px 20px 0 0;
    }
  }

  .controls-photo {
    overflow: hidden;
    width: 40px;
    @include border_radius(50%);

    .mobile-menu & {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .controls-package {
    cursor: pointer;

    a {
      vertical-align: middle;
    }
  }

  .controls-settings,
  .controls-logout {
    &:before {
      content: '';
      //display: inline-block;
      width: 14px;
      height: 14px;
      margin-right: 4px;
      //vertical-align: middle;
    }

    .mobile-menu & {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .controls-settings {
    &:before {
      background: url(/static/img/portal_img/Sprite_B.svg) -1px -158px no-repeat $white;
    }
  }

  .controls-logout {
    &:before {
      background: url(/static/img/portal_img/Sprite_B.svg) -15px -158px no-repeat $white;
    }
  }

  .controls-package,
  .controls-hours {
    .controls-link {
      display: inline-block;
      padding: 6px 5px 6px 10px;;
      border: 1px solid #dcdcdc;
      @include border_radius(16px);
    }
  }

  .controls-package {
    margin-left: auto;

    .controls-link__val {
      color: $lipstick;
    }

    .controls-link {
      a {
        display: inline-block;
        margin-left: 5px;
        padding: 0 17px;
        color: $white;
        background-color: $lipstick;

        @include font-size(11px, 20px);
        @include border_radius(9px);
      }
    }
  }

  .controls-hours {
    span {
      &:nth-of-type(2) {
        color: $lipstick;
      }

      &:nth-of-type(3) {
        margin-left: 7px;
        display: inline-block;
        width: 19px;
        height: 19px;
        background: $sprite_b_url 0 -173px no-repeat $white;
      }
    }
  }

  .hours-plus {
    cursor: pointer;

    &:hover {
      @include transform(scale(1.1));
    }

    &, &:hover {
      @include transition(transform .15s ease);
    }
  }

  .controls-link {
    font-weight: bold;
    vertical-align: middle;
    text-transform: uppercase;
    color: #3c3e41;
    @include font-size(13px, 20px);

    span {
      vertical-align: middle;

      &.controls-link__val {
        &:hover {
          @include opacity(.75);
        }

        &, &:hover {
          @include transition(opacity .3s ease)
        }
      }

    }
  }

  .controls-hours .controls-link {
    cursor: default;
  }

  .current-package {
    margin-right: 0;
    margin-left: 10px;
  }
}


