{% extends 'layout.html' %}

{% load i18n %}
{% load pipeline_plus %}
{% load placeholder %}
{% load footer %}
{% load menu %}


{% block static_head %}
    {{ block.super }}
    {% block page_styles %}{% endblock page_styles %}
{% endblock static_head %}

{% block static_js %}
    {{ block.super }}
    {% block page_scripts %}{% endblock page_scripts %}
{% endblock static_js %}

{#{% block bodyclass %}body-fixed-height{% endblock bodyclass %}#}

{% block header %}
{% endblock header %}

{% block mob_menu %}
    {% include 'portal/parts/mobile_menu.html' %}
{% endblock %}

{% block content %}

    <div class="container">

        {% include 'portal/parts/sidebar.html' %}

        <main>
            {% include 'portal/parts/header.html' %}
            {% include 'portal/parts/mobile_header.html' %}

            <div class="content-wrapper">
                <div class="content">

                    <div class="page-content">
                        {% include 'portal/parts/header_tab.html' %}

                        {% block page %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
    </div>

{% endblock content %}

{% block footer_content %}
    {% portal_footer %}
{% endblock footer_content %}