{% load i18n %}


<div id="change-background-popup">
    <div class="title popup-title">{% trans 'Change Background' %}</div>

    <div class="backgrounds">

        {% for background in backgrounds %}
            <div class="background">
                <div class="background-img-wrapper">
                    <img class="background-img" src="{{ background.image.desktop.url }}" alt="" data-img="{{ background.id }}">
                </div>
            </div>
        {% endfor %}

    </div>
</div>