{% load form_helper %}
{% load i18n %}


<div id="change-password-popup">
    <form action="{% url 'clients:ajax_change_password' %}" method="post" class="custom-form" id="change-password-form">
        <div class="fields">
            {% render_form form %}
        </div>

        <button type="submit" class="btn btn-green-popup" id="change-password-submit">{% trans 'Save' %}</button>

    </form>
</div>