{% load form_helper %}
{% load i18n %}
{% load away %}

<div id="client-register-popup" class="custom-form">

    <div class="grid">
        <div class="gc-wide-12">
            <p class="title title-h1">{% trans 'Create an account' %}</p>
        </div>

        <div class="gc-wide-12">
            <div class="form-wrapper">
                <form method="post" action="{% url 'clients:ajax_register' %}"  id="ajax-client-register-form" autocomplete="off">
                    {% csrf_token %}
                    {#              {% render_form form %}#}
                    {% if not client %}
                        <div class="input-wrapper-top">
                            {% render_field form 'first_name' %}
                            {% render_field form 'last_name' %}
                            {% render_field form 'email' %}
                            {% render_field form 'phone' %}
                        </div>

                        <div class="input-wrapper-center address-popup">
                            {% render_field form 'address' %}
                        </div>

                        <div class="input-wrapper-bottom">
                            {% render_field form 'company' %}
                            {% render_field form 'position' %}
                            {% render_field form 'industry' %}
                            {% render_field form 'stage' %}
                        </div>
                    {% endif %}

                    <div class="input-wrapper-center">
                        {% render_field form 'agree' template='form_helper/agree_field.html' %}
                    </div>
                    <div class="btn-wrapper">
                        <button type="submit" class="btn btn-green popup-submit" id="client-register">{% trans 'Register' %}</button>
                    </div>

                    <div class="captcha">
                        <div id="register_recaptcha"></div>

                        <div class="recaptcha__wrapper text description">
                            <span class="recaptcha__text">{{ _('This site is protected by reCAPTCHA and the Google ') }}</span>
                            <a class="recaptcha__link" href="https://policies.google.com/privacy">{{ _('Privacy Policy') }} </a> <span class="recaptcha__text"> {{ _('and') }} </span>
                            <a class="recaptcha__link" href="https://policies.google.com/terms">{{ _('Terms of Service') }} </a> <span class="recaptcha__text"> {{ _('apply.') }}</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>