{% load i18n %}

<div class="success-popup">
  <p class="title">{% trans 'Your personal information has been updated' %}</p>

  <button type="button" class="btn btn-green-popup close-popup">{% trans 'Done' %}</button>
</div>
