

{#<div class="logo-box">#}
{#    {% if is_main_page %}#}
{#        <div class="logo"></div>#}
{#    {% else %}#}
{#        <a href="/" class="logo"></a>#}
{#    {% endif %}#}
{#</div>#}


{#<ul class="menu-list" {% if level == 1 %}typeof="SiteNavigationElement"{% endif %}>#}
{#    {% for item in items %}#}
{#        <li class="{% if item.is_active %}active{% endif %}">#}
{#            <a href="{{ item.url }}" class="{{ item.classes }}" property="url" {{ item.attrs }}>#}
{#                <span property="name">{{ item.title }}</span>#}
{#            </a>#}
{##}
{#            {% if item.childs %}#}
{#                {% include 'menu/menu.html' with items=item.childs level=level|add:1 %}#}
{#            {% endif %}#}
{#        </li>#}
{#    {% endfor %}#}
{#</ul>#}



